---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<Layout
  title="Icon School Of Excellence"
  description=""
  keywords=""
  og_title=""
  og_description=""
  og_image=""
  og_url=""
  canonical=""
>
  <body>
    <div class="page-wrapper">
      <Header />
      <main class="main-wrapper">
        <header class="section_academics-thecbs-edge_header">
          <div class="w-layout-grid academics-thecbs-edge_header_component">
            <div
              blocks-name="header36_content"
              blocks-slot-children="ST265"
              id="w-node-f868b415-642b-5b2c-d50b-9dd80a1a3465-e424d2a9"
              class="academics-thecbs-edge_header_content"
            >
              <div>
                <h1 blocks-name="heading" class="heading-style-h1">
                  Academic Programme at ISOE
                </h1>
              </div>
              <p blocks-name="paragraph" class="text-size-medium">
                our academic programme is meticulously designed to provide a
                holistic educational experience that equips students with the
                knowledge, skills, and values they need for future success. By
                aligning our curriculum with ICSE standards, we ensure that our
                students receive a well-rounded education that prepares them for
                the complexities of modern life. Below, we elaborate on the key
                features of our academic programme:
              </p>
            </div>
            <div class="academics-thecbs-edge_header_image-wrapper">
              <img
                src="/assets/images/classes/academic-programme.webp"
                loading="eager"
                sizes="(max-width: 991px) 100vw, 50vw"
                alt="icon-school-of-excellence-academic-programme"
                class="academics-thecbs-edge_header_image"
              />
            </div>
          </div>
        </header>
        <section
          id="learning-the-cbs-way"
          class="section_home_academic-programs"
        >
          <div class="padding-global overflow-visible">
            <div class="container-large">
              <div class="padding-section-medium">
                <div
                  blocks-name="layout251_component"
                  blocks-slot-children="ST232"
                  class="home_academic-programs_component"
                >
                  <div
                    blocks-name="layout251_list"
                    class="w-layout-grid home_academic-programs_list"
                  >
                    <div
                      blocks-name="layout251_item"
                      blocks-slot-children="ST232"
                      class="home_academic-programs_item"
                    >
                      <div class="margin-bottom margin-medium">
                        <div
                          blocks-name="layout251_image-wrapper"
                          class="home_academic-programs_image-wrapper"
                        >
                          <img
                            src="/assets/images/classes/structured curriculum.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, 43vw"
                            alt="icon-school-of-excellence-structured-curriculum"
                            class="home_academic-programs_image"
                          />
                        </div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3
                          blocks-name="heading-style-h4"
                          class="heading-style-h4"
                        >
                          1.Structured Curriculum
                        </h3>
                      </div>
                      <p blocks-name="paragraph-2">
                        <strong
                          >Our curriculum spans a wide range of subjects,
                          ensuring a comprehensive educational experience.
                        </strong><br /><br />
                        <b>Core Subjects:</b> We focus on essential subjects such
                        as Languages, Mathematics, Science, and Social Studies. These
                        subjects are integral to building foundational knowledge
                        and critical thinking skills. <br /><br />
                        <b>Arts and Humanities:</b> We place equal importance on
                        the Arts, including Music, Dance, and Visual Arts, as well
                        as Humanities, encouraging students to explore their creative
                        sides and develop cultural awareness. <br /><br />
                        <b>Interdisciplinary Learning:</b> By promoting connections
                        across subjects, we encourage students to engage in interdisciplinary
                        projects that foster a deeper understanding of real-world
                        issues.
                      </p>
                    </div>
                    <div
                      blocks-name="layout251_item-2"
                      blocks-slot-children="ST232"
                      class="home_academic-programs_item"
                    >
                      <div class="margin-bottom margin-medium">
                        <div
                          blocks-name="layout251_image-wrapper-2"
                          class="home_academic-programs_image-wrapper"
                        >
                          <img
                            src="/assets/images/classes/interactive.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, 43vw"
                            alt="icon-school-of-excellence-interactive-learning-environment"
                            class="home_academic-programs_image"
                          />
                        </div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3
                          blocks-name="heading-style-h4-2"
                          class="heading-style-h4"
                        >
                          2.Interactive Learning Environment
                        </h3>
                      </div>
                      <p blocks-name="paragraph-3">
                        <strong>
                          We believe that learning is most effective when
                          students are actively engaged.
                        </strong>
                        <br /><br />
                        <b>Collaborative Learning:</b> Our classrooms are designed
                        to facilitate group work and discussions, where students
                        can share ideas and learn from one another. This collaborative
                        approach enhances communication skills and encourages teamwork.
                        <br /><br />
                        <b>Hands-On Projects:</b> Students participate in hands-on
                        projects that allow them to apply theoretical concepts in
                        practical situations. This experiential learning fosters
                        critical thinking and problem-solving skills. <br /><br
                        />
                        <b>Technology Integration:</b> We utilize modern technology
                        to enhance learning. Interactive whiteboards, educational
                        software, and online resources are integrated into the curriculum,
                        making learning more dynamic and accessible.
                      </p>
                    </div>
                    <div
                      blocks-name="layout251_item-3"
                      blocks-slot-children="ST232"
                      class="home_academic-programs_item"
                    >
                      <div class="margin-bottom margin-medium">
                        <div
                          blocks-name="layout251_image-wrapper-3"
                          class="home_academic-programs_image-wrapper"
                        >
                          <img
                            src="/assets/images/classes/assessment-framework.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, 43vw"
                            alt="icon-school-of-excellence-assessment-framework"
                            class="home_academic-programs_image"
                          />
                        </div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3
                          blocks-name="heading-style-h4-3"
                          class="heading-style-h4"
                        >
                          3.Assessment Framework
                        </h3>
                      </div>
                      <p blocks-name="paragraph-4">
                        <strong>
                          Our assessment strategy is comprehensive, focusing on
                          both formative and summative evaluations.</strong
                        ><br /><br />
                        <b>Formative Assessments:</b> Regular quizzes, projects,
                        and presentations provide ongoing feedback to students and
                        teachers, helping identify strengths and areas for improvement.
                        This continuous feedback loop promotes a growth mindset.
                        <br /><br />
                        <b>Summative Assessments:</b> Our summative assessments,
                        which include two half-yearly examinations, help measure
                        overall understanding and academic progress. These assessments
                        are designed to be reflective of real-world applications
                        of knowledge, encouraging students to think critically about
                        what they have learned.
                      </p>
                    </div>
                    <div
                      blocks-name="layout251_item-3"
                      blocks-slot-children="ST232"
                      id="w-node-_3f3385ef-d700-2622-7fe1-35938535f68b-8535f655"
                      class="home_academic-programs_item"
                    >
                      <div class="margin-bottom margin-medium">
                        <div
                          blocks-name="layout251_image-wrapper-3"
                          class="home_academic-programs_image-wrapper"
                        >
                          <a
                            href="/academics"
                            aria-current="page"
                            class="program-image-link w-inline-block w--current"
                            ><img
                              src="/assets/images/classes/remidial.webp"
                              loading="lazy"
                              sizes="(max-width: 767px) 90vw, 43vw"
                              alt="icon-school-of-excellence-remidial-support"
                              class="home_academic-programs_image"
                            /></a
                          >
                        </div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3
                          blocks-name="heading-style-h4-3"
                          class="heading-style-h4"
                        >
                          4. Remedial Support
                        </h3>
                      </div>

                      <p
                        blocks-name="paragraph-4"
                        id="w-node-_3f3385ef-d700-2622-7fe1-35938535f686-8535f655"
                      >
                        <strong
                          >We recognize that each student has unique learning
                          needs, and we are committed to providing the necessary
                          support to ensure every child can achieve their
                          academic goals.</strong
                        >
                        <br />
                        <br />
                        <b>Tailored Remedial Classes:</b> For students who may struggle
                        with certain subjects, we offer tailored remedial classes.
                        These small-group sessions provide focused instruction and
                        allow for individualized attention. <br />
                        <br />
                        <b>Learning Plans:</b> We develop personalized learning plans
                        for students requiring additional support, setting specific,
                        achievable goals to help them progress at their own pace.
                      </p>
                    </div>
                    <div
                      blocks-name="layout251_item-3"
                      blocks-slot-children="ST232"
                      class="home_academic-programs_item"
                    >
                      <div class="margin-bottom margin-medium">
                        <div
                          blocks-name="layout251_image-wrapper-3"
                          class="home_academic-programs_image-wrapper"
                        >
                          <a
                            href="/academics"
                            aria-current="page"
                            class="program-image-link w-inline-block w--current"
                            ><img
                              src="/assets/images/classes/life-skill.webp"
                              loading="lazy"
                              sizes="(max-width: 767px) 90vw, 43vw"
                              alt="icon-school-of-excellence-life-skills-integration"
                              class="home_academic-programs_image"
                            /></a
                          >
                        </div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3
                          blocks-name="heading-style-h4-3"
                          class="heading-style-h4"
                        >
                          5.Life Skills Integration
                        </h3>
                      </div>
                      <p blocks-name="paragraph-4">
                        <strong
                          >Our academic programme goes beyond traditional
                          subjects to include the development of essential life
                          skills.</strong
                        ><br /><br />
                        <b> Critical Thinking and Problem-Solving:</b> We encourage
                        students to approach problems creatively and analytically,
                        fostering a mindset that values inquiry and innovation.<br
                        /><br />
                        <b>Communication Skills:</b> Through presentations, debates,
                        and group discussions, students enhance their verbal and
                        written communication skills, preparing them for effective
                        interactions in all areas of life.<br /><br />
                        <b>Emotional Intelligence:</b> We incorporate lessons on
                        empathy, resilience, and teamwork, helping students understand
                        themselves and others better. This emotional awareness is
                        crucial for personal and professional success.
                      </p>
                    </div>
                    <div
                      blocks-name="layout251_item-3"
                      blocks-slot-children="ST232"
                      class="home_academic-programs_item"
                    >
                      <div class="margin-bottom margin-medium">
                        <div
                          blocks-name="layout251_image-wrapper-3"
                          class="home_academic-programs_image-wrapper"
                        >
                          <a
                            href="/academics"
                            aria-current="page"
                            class="program-image-link w-inline-block w--current"
                            ><img
                              src="/assets/images/classes/extra-curricular.webp"
                              loading="lazy"
                              sizes="(max-width: 767px) 90vw, 43vw"
                              alt="icon-school-of-excellence-extracurricular-activities"
                              class="home_academic-programs_image"
                            /></a
                          >
                        </div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3
                          blocks-name="heading-style-h4-3"
                          class="heading-style-h4"
                        >
                          6.Extracurricular Activities
                        </h3>
                      </div>
                      <p blocks-name="paragraph-4">
                        <strong>
                          We believe that a balanced education includes
                          opportunities for students to explore their interests
                          outside the classroom.</strong
                        >
                        <br />
                        <br />
                        <b>Variety of Activities:</b> Our extensive range of extracurricular
                        activities includes sports, performing arts, visual arts,
                        and various clubs that cater to diverse interests. <br
                        />
                        <br />
                        <b>Development of Skills:</b> Participation in these activities
                        helps students develop teamwork, leadership, and time-management
                        skills. Engaging in sports promotes physical fitness, while
                        the arts foster creativity and self-expression.<br />
                        <br />
                        <b>Competitions and Events:</b> We regularly organize competitions,
                        exhibitions, and performances that allow students to showcase
                        their talents and achievements, building confidence and community
                        spirit.
                      </p>
                    </div>
                    <div
                      blocks-name="layout251_item-3"
                      blocks-slot-children="ST232"
                      class="home_academic-programs_item"
                    >
                      <div class="margin-bottom margin-medium">
                        <div
                          blocks-name="layout251_image-wrapper-3"
                          class="home_academic-programs_image-wrapper"
                        >
                          <a
                            href="/academics"
                            aria-current="page"
                            class="program-image-link w-inline-block w--current"
                            ><img
                              src="/assets/images/classes/community.webp"
                              loading="lazy"
                              sizes="(max-width: 767px) 90vw, 43vw"
                              alt="icon-school-of-excellence-community-engagement"
                              class="home_academic-programs_image"
                            /></a
                          >
                        </div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3
                          blocks-name="heading-style-h4-3"
                          class="heading-style-h4"
                        >
                          7. Community Engagement
                        </h3>
                      </div>
                      <p blocks-name="paragraph-4">
                        <strong
                          >We are dedicated to instilling a sense of social
                          responsibility and civic engagement in our students.</strong
                        >
                        <br /><br />
                        <b> Service Learning:</b> Our community service initiatives
                        encourage students to apply their learning in real-world
                        contexts. Projects may include environmental conservation,
                        helping the underprivileged, or organizing awareness campaigns.
                        <br /><br />
                        <b>Empathy and Awareness:</b> By engaging with their communities,
                        students develop a sense of empathy and an understanding
                        of social issues. This awareness prepares them to become
                        responsible global citizens who are committed to making a
                        positive impact.
                      </p>
                    </div>
                  </div>
                  <div class="margin-top margin-xlarge">
                    <div
                      blocks-slot-children="ST232"
                      blocks-name="button-group"
                      class="button-group"
                    >
                      <a
                        blocks-name="button"
                        href="/contact"
                        class="button is-secondary w-button">Contact Us</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <Footer />
    </div>
  </body>
</Layout>
