---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<Layout
  title="Icon School Of Excellence"
  description=""
  keywords=""
  og_title=""
  og_description=""
  og_image=""
  og_url=""
  canonical=""
>
  <body>
    <div class="page-wrapper">
      <Header />
      <main class="main-wrapper">
        <header class="section_about-us_header-section-vision">
          <div class="w-layout-grid about-us_header-section-vision_component">
            <div class="about-us_header-section-vision_image-wrapper">
              <img
                src="/assets/images/ICON-School-Pic.webp"
                loading="eager"
                sizes="(max-width: 991px) 100vw, 50vw"
                alt="icon-school-of-excellence-image"
                class="about-us_header-section-vision_image"
              />
            </div>
            <div
              blocks-name="header37_content"
              blocks-slot-children="ST265"
              class="about-us_header-section-vision_content"
            >
              <div>
                <h1 blocks-name="heading" class="heading-style-h1">
                  <strong>Admission</strong>
                </h1>
              </div>
              <p
                blocks-name="paragraph"
                class="text-size-medium text-color-primary"
              >
                ICON SCHOOL OF EXCELLENCE is dedicated to providing a
                high-quality education that fosters academic excellence and
                personal growth. We are excited to announce that classes for the
                upcoming academic year will commence in the first week of June.
                To learn more about our programs, curriculum, and admission
                process, please visit us at #118/2, E-City Phase I,
                Doddathoguru, Bangalore – 560100. For any inquiries, feel free
                to reach out at 080-48655622/33.
              </p>
              <div class="margin-top margin-medium">
                <div
                  blocks-slot-children="ST232"
                  blocks-name="button-group"
                  class="button-group"
                >
                  <a
                    blocks-name="button-2"
                    href="/contact"
                    class="button is-secondary w-button">Contact Us</a
                  >
                </div>
              </div>
            </div>
          </div>
        </header>
        <section class="section_layout350">
          <div class="padding-global-2 background-image">
            <div class="container-large-2">
              <div class="padding-section">
                <div class="w-layout-grid layout350_component">
                  <div
                    id="sticky-tab-container"
                    class="layout350_tabs-menu-2 w-node-_2d790f51-e46b-61e1-7349-fe38e1fd65dd-e424d2c7"
                  >
                    <a
                      href="#Eligibility-criteria"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Eligibility criteria</div>
                    </a>
                    <a
                      href="#Admission-procedure"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Admission procedure</div>
                    </a>
                    <a
                      href="#Required-Documents"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Required Documents</div>
                    </a>
                    <a
                      href="#Fees-structure"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Fees structure</div>
                    </a>
                  </div>
                  <div
                    id="w-node-_2d790f51-e46b-61e1-7349-fe38e1fd65dc-e424d2c7"
                    class="layout350_content-wrapper"
                  >
                    <div
                      id="Eligibility-criteria"
                      data-w-id="1795152a-bc8c-5f74-abad-158ef2eec54f"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2><strong>Eligibility criteria</strong></h2>
                      </div>
                      <div class="section_layout402">
                        <div class="container-large-2">
                          <div
                            data-current="Tab 2"
                            data-easing="ease"
                            data-duration-in="300"
                            data-duration-out="100"
                            class="layout402_component w-tabs"
                          >
                            <div
                              class="layout402_tabs-menu no-scrollbar w-tab-menu"
                            >
                              <a
                                data-w-tab="Tab 1"
                                class="layout350_tab-link w-inline-block w-tab-link w--current"
                              >
                                <div>NURSERY</div>
                              </a>
                              <a
                                data-w-tab="Tab 2"
                                class="layout350_tab-link w-inline-block w-tab-link"
                              >
                                <div>JUNIOR KG (LKG)</div>
                              </a>
                              <a
                                data-w-tab="Tab 3"
                                class="layout350_tab-link w-inline-block w-tab-link"
                              >
                                <div>GRADE 1</div>
                              </a>
                            </div>
                            <div class="layout402_tabs-content w-tab-content">
                              <div
                                data-w-tab="Tab 1"
                                class="layout402_tab-pane w-tab-pane"
                              >
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="margin-bottom margin-small">
                                      <h2>Nursery<br /></h2>
                                    </div>
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        The child seeking admission should be
                                        atleast 3 Years (As of May 31st)
                                      </p>
                                      <div class="layout402_image-wrapper">
                                        <img
                                          sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                          alt="icon-school-of-excellence-nursery"
                                          src="/assets/images/facilities/nursery-admissions.webp"
                                          loading="lazy"
                                          class="layout350_mobile-image"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                data-w-tab="Tab 2"
                                class="layout402_tab-pane w-tab-pane w--tab-active"
                              >
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="margin-bottom margin-small">
                                      <h2>Junior KG (LKG)<br /></h2>
                                    </div>
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        The child seeking admission should be
                                        atleast 4 Years (As of May 31st)<br />
                                      </p><img
                                        id="w-node-_3e424e44-74ec-965a-6656-a708e109e47d-e424d2c7"
                                        sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                        alt="icon-school-of-excellence-LKG"
                                        src="/assets/images/facilities/Junior-KG.webp"
                                        loading="lazy"
                                        class="layout350_mobile-image"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div data-w-tab="Tab 3" class="w-tab-pane">
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="margin-bottom margin-small">
                                      <h2>Grade 1<br /></h2>
                                    </div>
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        The child seeking admission should be
                                        atleast 6 Years (As of May 31st)
                                        <br />‍<br />
                                      </p><img
                                        id="w-node-_501722b7-09f9-c188-7120-4721f2dab2bb-e424d2c7"
                                        sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                        alt="icon-school-of-excellence-grade-1"
                                        src="/assets/images/facilities/grade-1.webp"
                                        loading="lazy"
                                        class="layout350_mobile-image"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      id="Admission-procedure"
                      data-w-id="1795152a-bc8c-5f74-abad-158ef2eec54f"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2><strong>Admission Procedure</strong></h2>
                      </div>
                      <div class="section_layout402">
                        <div class="container-large-2">
                          <div
                            data-current="Tab 2"
                            data-easing="ease"
                            data-duration-in="300"
                            data-duration-out="100"
                            class="layout402_component w-tabs"
                          >
                            <div
                              class="layout402_tabs-menu no-scrollbar w-tab-menu"
                            >
                              <a
                                data-w-tab="Tab 1"
                                class="layout350_tab-link w-inline-block w-tab-link w--current"
                              >
                                <div>Step: 1</div>
                              </a>
                              <a
                                data-w-tab="Tab 2"
                                class="layout350_tab-link w-inline-block w-tab-link"
                              >
                                <div>Step: 2</div>
                              </a>
                              <a
                                data-w-tab="Tab 3"
                                class="layout350_tab-link w-inline-block w-tab-link"
                              >
                                <div>Step: 3</div>
                              </a>
                            </div>
                            <div class="layout402_tabs-content w-tab-content">
                              <div
                                data-w-tab="Tab 1"
                                class="layout402_tab-pane w-tab-pane"
                              >
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        The student is tested & interviewed in
                                        reasoning, cognitive, language,
                                        numerical, recognition, motor &
                                        interpersonal skills
                                      </p>
                                      <div class="layout402_image-wrapper">
                                        <img
                                          sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                          alt="icon-school-of-excellence-admission-step-1"
                                          src="/assets/images/facilities/admission-1.webp"
                                          loading="lazy"
                                          class="layout350_mobile-image"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                data-w-tab="Tab 2"
                                class="layout402_tab-pane w-tab-pane w--tab-active"
                              >
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        The prospective students will be given
                                        an aptitude / entrance test. Based on
                                        the performance of which the child will
                                        be admitted to the school<br />
                                      </p><img
                                        id="w-node-_3e424e44-74ec-965a-6656-a708e109e47d-e424d2c7"
                                        sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                        alt="icon-school-of-excellence-admission-step-2"
                                        src="/assets/images/facilities/admission-2.webp"
                                        loading="lazy"
                                        class="layout350_mobile-image"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div data-w-tab="Tab 3" class="w-tab-pane">
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        Admission will be confirmed after the
                                        assessing the performance of the child
                                        in the entrance test and the interview
                                        with the Student

                                        <br />‍<br />
                                      </p><img
                                        id="w-node-_501722b7-09f9-c188-7120-4721f2dab2bb-e424d2c7"
                                        sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                        alt="icon-school-of-excellence-admission-step-3"
                                        src="/assets/images/facilities/admission-3.webp"
                                        loading="lazy"
                                        class="layout350_mobile-image"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      id="Required-Documents"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb8a"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Required Documents</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          THE DOCUMENTS MENTIONED BELOW ARE TO BE SUBMITTED
                          Please note all original documents must be produced
                          upon submission to verify their authenticity. <br />
                          <br />
                          • Filled ISOE Admission Form <br />
                          • Copy of Immunization card <br />
                          • Copy of Birth certificate <br />
                          • Transfer Certificate From the previous school (From class
                          1 onwards) <br />
                          • Copies of previous academic records <br />
                          • Three Photographs of the child <br />
                          • One Photograph each of the Parent / Guardian <br />
                          • Copy of Aadhar Card of Student & Parents / Guardian <br
                          />

                          <br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/facilities/admission-procedure.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, (max-width: 991px) 57vw, 33vw"
                            alt="icon-school-of-excellence-required-documents"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Fees-structure"
                      data-w-id="06442af8-d715-2fea-b2af-deb0d10b1fc6"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Fees structure</h2>
                      </div>
                      <div class="fees">
                        <table>
                          <tr>
                            <th>Grade</th>
                            <th>Fees</th>
                          </tr>

                          <tr>
                            <td>Nursery</td>
                            <td>65,950</td>
                          </tr>
                          <tr>
                            <td>Junior KG</td>
                            <td>65,950</td>
                          </tr>
                          <tr>
                            <td>Senior KG</td>
                            <td>69,480</td>
                          </tr>
                          <tr>
                            <td>Grade - 1</td>
                            <td>72,860</td>
                          </tr>
                          <tr>
                            <td>Grade - 2</td>
                            <td>75,800</td>
                          </tr>
                          <tr>
                            <td>Grade - 3</td>
                            <td>77,470</td>
                          </tr>
                          <tr>
                            <td>Grade - 4</td>
                            <td>78,140</td>
                          </tr>
                        </table>
                        <table>
                          <tr>
                            <th>Grade</th>
                            <th>Fees</th>
                          </tr>
                          <tr>
                            <td>Grade - 5</td>
                            <td>78,370</td>
                          </tr>
                          <tr>
                            <td>Grade - 6</td>
                            <td>80,080</td>
                          </tr>
                          <tr>
                            <td>Grade - 7</td>
                            <td>80,730</td>
                          </tr>
                          <tr>
                            <td>Grade - 8</td>
                            <td>82,670</td>
                          </tr>
                          <tr>
                            <td>Grade - 9</td>
                            <td>86,560</td>
                          </tr>
                          <tr>
                            <td>Grade - 10</td>
                            <td>93,030</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <Footer />
  </body>
</Layout>
