---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<Layout
  title="Icon School Of Excellence"
  description=""
  keywords=""
  og_title=""
  og_description=""
  og_image=""
  og_url=""
  canonical=""
>
  <body>
    <div class="page-wrapper">
      <Header />
      <main class="main-wrapper">
        <section class="section_layout350">
          <div class="padding-global-2">
            <div class="container-large-2">
              <div class="padding-section">
                <div class="w-layout-grid layout350_component">
                  <div
                    id="sticky-tab-container"
                    class="layout350_tabs-menu-2 w-node-dd57d3a7-f6f3-8de7-5be8-41555c3fee33-e424d2a9"
                  >
                    <a
                      href="#Content-Block-1"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div class="navbar7_icon-wrapper">
                        <div class="icon-embed-xsmall w-embed">
                          <svg
                            width="141"
                            height="273"
                            viewBox="0 0 141 273"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M140.5 6.10352e-05C122.049 6.10352e-05 103.779 3.52322 86.733 10.3684C69.6867 17.2136 54.1981 27.2468 41.1515 39.895C28.1049 52.5433 17.7557 67.559 10.6949 84.0847C3.63414 100.61 -8.06507e-07 118.323 0 136.21C8.06507e-07 154.097 3.63414 171.81 10.6949 188.335C17.7557 204.861 28.1049 219.877 41.1515 232.525C54.1981 245.173 69.6867 255.206 86.733 262.052C103.779 268.897 122.049 272.42 140.5 272.42L140.5 136.21V6.10352e-05Z"
                              fill="#EB633C"></path>
                          </svg>
                        </div>
                      </div>
                      <div>Kindergarten (Nursery to Senior KG)</div>
                    </a><a
                      href="#Content-Block-2"
                      id="tab"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div class="navbar7_icon-wrapper">
                        <div class="icon-embed-xsmall w-embed">
                          <svg
                            width="141"
                            height="273"
                            viewBox="0 0 141 273"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M140.5 6.10352e-05C122.049 6.10352e-05 103.779 3.52322 86.733 10.3684C69.6867 17.2136 54.1981 27.2468 41.1515 39.895C28.1049 52.5433 17.7557 67.559 10.6949 84.0847C3.63414 100.61 -8.06507e-07 118.323 0 136.21C8.06507e-07 154.097 3.63414 171.81 10.6949 188.335C17.7557 204.861 28.1049 219.877 41.1515 232.525C54.1981 245.173 69.6867 255.206 86.733 262.052C103.779 268.897 122.049 272.42 140.5 272.42L140.5 136.21V6.10352e-05Z"
                              fill="#EB633C"></path>
                          </svg>
                        </div>
                      </div>
                      <div>Lower Primary (Grade I to V)</div>
                    </a><a
                      href="#Content-Block-3"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div class="navbar7_icon-wrapper">
                        <div class="icon-embed-xsmall w-embed">
                          <svg
                            width="141"
                            height="273"
                            viewBox="0 0 141 273"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M140.5 6.10352e-05C122.049 6.10352e-05 103.779 3.52322 86.733 10.3684C69.6867 17.2136 54.1981 27.2468 41.1515 39.895C28.1049 52.5433 17.7557 67.559 10.6949 84.0847C3.63414 100.61 -8.06507e-07 118.323 0 136.21C8.06507e-07 154.097 3.63414 171.81 10.6949 188.335C17.7557 204.861 28.1049 219.877 41.1515 232.525C54.1981 245.173 69.6867 255.206 86.733 262.052C103.779 268.897 122.049 272.42 140.5 272.42L140.5 136.21V6.10352e-05Z"
                              fill="#EB633C"></path>
                          </svg>
                        </div>
                      </div>
                      <div>Higher Primary (Grade VI to VII)</div>
                    </a><a
                      href="#Content-Block-4"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div class="navbar7_icon-wrapper">
                        <div class="icon-embed-xsmall w-embed">
                          <svg
                            width="141"
                            height="273"
                            viewBox="0 0 141 273"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M140.5 6.10352e-05C122.049 6.10352e-05 103.779 3.52322 86.733 10.3684C69.6867 17.2136 54.1981 27.2468 41.1515 39.895C28.1049 52.5433 17.7557 67.559 10.6949 84.0847C3.63414 100.61 -8.06507e-07 118.323 0 136.21C8.06507e-07 154.097 3.63414 171.81 10.6949 188.335C17.7557 204.861 28.1049 219.877 41.1515 232.525C54.1981 245.173 69.6867 255.206 86.733 262.052C103.779 268.897 122.049 272.42 140.5 272.42L140.5 136.21V6.10352e-05Z"
                              fill="#EB633C"></path>
                          </svg>
                        </div>
                      </div>
                      <div>High School (Grade VIII to X)</div>
                    </a>
                  </div>
                  <div
                    id="w-node-dd57d3a7-f6f3-8de7-5be8-41555c3fee88-e424d2a9"
                    class="layout350_content-wrapper"
                  >
                    <div
                      id="Content-Block-1"
                      data-w-id="dd57d3a7-f6f3-8de7-5be8-41555c3fee89"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Kindergarten (Nursery to Senior KG)</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium">
                          Our Kindergarten curriculum fosters a nurturing,
                          engaging environment for lifelong learning. Through
                          activity-based, multi-sensory methods, we spark
                          children's curiosity and imagination. Our customized
                          approach encourages exploration of diverse interests
                          in creative ways. <br />
                          <br />
                          <b>Activity-Based Learning:</b> Children engage in hands-on
                          activities that stimulate creativity and critical thinking.
                          These activities are designed to make learning enjoyable
                          while instilling foundational skills in literacy and numeracy.
                          <br />
                          <br />
                          <b>Multi-Sensory Methods:</b> We incorporate visual, auditory,
                          and tactile experiences to cater to different learning
                          styles, ensuring that every child can connect with the
                          material. <br />
                          <br />
                          <b>Types of Learning:</b> Our curriculum promotes various
                          learning modalities, including participatory (group activities),
                          supportive (teacher-guided exploration), active (physical
                          engagement), integrated (cross-subject connections), and
                          play-based learning. This diverse approach helps develop
                          cognitive, social, and emotional skills in a holistic manner.
                          <br />
                          <br />
                          <b>Foundational Skills:</b> We focus on essential skills
                          in literacy, numeracy, and interpersonal development. Through
                          engaging play and collaborative activities, children develop
                          their language abilities, number sense, and social skills,
                          preparing them for future academic challenges.

                          <br /><br />
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/classes/kinder-garden.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, (max-width: 991px) 56vw, 33vw"
                            alt="icon-school-of-excellence-kinder-garden"
                            class="layout350_mobile-image"
                          />
                          <br />
                          <br />
                          <img
                            src="/assets/images/classes/kinder-garden2.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, (max-width: 991px) 56vw, 33vw"
                            alt="icon-school-of-excellence-kinder-garden2"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Content-Block-2"
                      data-w-id="dd57d3a7-f6f3-8de7-5be8-41555c3fee96"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Lower Primary (Grade I to V)</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium">
                          In the Lower Primary phase, our curriculum aims to
                          ignite enthusiasm for learning across languages,
                          mathematics, science, and social studies. We emphasize
                          practical applications of concepts, helping students
                          understand how what they learn connects to the world
                          around them.<br />
                          <br />

                          <b>Child-Centric Approach:</b> Our teaching methods are
                          designed around the needs and interests of children. We
                          promote a learning environment that encourages exploration,
                          inquiry, and discovery. <br />
                          <br />
                          <b>Language Development:</b> Kannada is taught as the second
                          language, while Hindi is introduced as the third language,
                          fostering multilingual communication skills and cultural
                          awareness. <br /><br />
                          <b>Life Skills Integration:</b> We incorporate vital life
                          skills identified by the World Health Organization, including
                          problem-solving, critical thinking, communication, and
                          self-awareness. These skills are integrated into daily
                          lessons and activities, helping students develop into well-rounded
                          individuals. <br /><br />
                          <b>Co-Curricular Activities:</b> Our curriculum includes
                          education in dance, fine arts, elocution, and sports, promoting
                          holistic development. These activities not only enhance
                          creativity and physical fitness but also encourage teamwork,
                          discipline, and self-expression.
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/classes/lower-primary.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, (max-width: 991px) 56vw, 33vw"
                            alt="icon-school-of-excellence-lower-primary"
                            class="layout350_mobile-image"
                          />
                          <br />
                          <br />
                          <img
                            src="/assets/images/classes/lower-primary2.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, (max-width: 991px) 56vw, 33vw"
                            alt="icon-school-of-excellence-lower-primary2"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Content-Block-3"
                      data-w-id="dd57d3a7-f6f3-8de7-5be8-41555c3fee9e"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-7">
                          Higher Primary (Grade VI to VII)
                        </h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          As students transition into Higher Primary, our goal
                          is to cultivate independent and critical thinkers. We
                          promote interdisciplinary learning, encouraging
                          students to apply theoretical concepts to real-world
                          scenarios. <br />
                          <br />

                          <b>Interdisciplinary Learning:</b> Students engage in projects
                          that connect different subject areas, helping them see
                          the relevance of their studies in everyday life. This approach
                          fosters analytical skills and a deeper understanding of
                          complex concepts. <br /><br />
                          <b>Core Subjects:</b> Students continue their education
                          in languages, mathematics, science, and social studies,
                          building on the foundational skills they acquired in Lower
                          Primary. <br /><br />
                          <b>Community Building Projects:</b>
                          We encourage students to engage in projects that promote
                          community involvement, fostering a sense of social responsibility
                          and teamwork. <br /><br />
                          <b>Continued Life Skills Development:</b> Life skills remain
                          a focus at this stage, enabling students to synthesize
                          their learning and become compassionate, inquisitive individuals.
                          We emphasize the importance of empathy, collaboration,
                          and critical thinking in various contexts.
                          <br />‍<br />
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/classes/higher-primary.webp"
                            loading="lazy"
                            sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 56vw, 33vw"
                            alt="icon-school-of-excellence-higher-primary"
                            class="layout350_mobile-image"
                          />
                          <br />
                          <br />
                          <img
                            src="/assets/images/classes/higher-primary2.webp"
                            loading="lazy"
                            sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 56vw, 33vw"
                            alt="icon-school-of-excellence-higher-primary2"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Content-Block-4"
                      data-w-id="dd57d3a7-f6f3-8de7-5be8-41555c3feeb1"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>High School (Grade VIII to X)</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          In High School, we prepare students to become
                          future-ready individuals equipped with the skills
                          necessary to thrive in a competitive world. Our
                          curriculum emphasizes academic excellence alongside
                          the development of discipline and essential life
                          skills.<br />‍<br />
                          <b>Academic Excellence:</b> We provide a rigorous academic
                          program designed to challenge students and prepare them
                          for higher education. Our focus is on developing strong
                          analytical and critical thinking skills. <br />
                          <br />
                          <b>Leadership Development: </b> We cultivate leadership
                          abilities through various opportunities for students to
                          take initiative, lead projects, and engage in community-related
                          activities. This hands-on experience prepares them for
                          future roles in society. <br />
                          <br />
                          <b>Real-World Problem Solving:</b> Students are encouraged
                          to engage in activities that challenge them to solve real-world
                          problems, applying their knowledge in practical contexts.
                          This experiential learning fosters innovation and creativity.
                          <br />
                          <br />
                          <b>Social Responsibility:</b> At Icon School of Excellence,
                          we strive to shape our students into role models who embody
                          both academic prowess and a commitment to social responsibility.
                          We encourage them to engage with their communities and
                          contribute positively to society.
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/classes/interactive.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, (max-width: 991px) 56vw, 33vw"
                            alt="icon-school-of-excellence-high-school"
                            class="layout350_mobile-image"
                          />
                          <br />
                          <br />
                          <img
                            src="/assets/images/classes/high-school.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, (max-width: 991px) 56vw, 33vw"
                            alt="icon-school-of-excellence-high-school2"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <Footer />
    </div>
  </body>
</Layout>
