---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<Layout
  title="Icon School Of Excellence"
  description=""
  keywords=""
  og_title=""
  og_description=""
  og_image=""
  og_url=""
  canonical=""
>
  <body>
    <div class="page-wrapper">
      <Header />
      <main class="main-wrapper">
        <header class="section_academics-thecbs-edge_header">
          <div class="w-layout-grid academics-thecbs-edge_header_component">
            <div
              blocks-name="header36_content"
              blocks-slot-children="ST265"
              id="w-node-f868b415-642b-5b2c-d50b-9dd80a1a3465-e424d2a9"
              class="academics-thecbs-edge_header_content"
            >
              <div>
                <h1 blocks-name="heading" class="heading-style-h1">
                  Our Curriculum
                </h1>
              </div>
              <p blocks-name="paragraph" class="text-size-medium">
                ICON SCHOOL OF EXCELLENCE follows the CISCE curriculum and is
                affiliated to the Council for Indian School Certificate
                Examinations (ICSE Board, New Delhi) under Affiliation Number
                KA-398. Our commitment to this esteemed curriculum ensures that
                students receive a comprehensive and rigorous education,
                preparing them for future academic and personal success.
              </p>
              <div class="margin-top margin-medium">
                <div
                  blocks-slot-children="ST232"
                  blocks-name="button-group"
                  class="button-group"
                >
                  <a
                    blocks-name="button"
                    href="/admissions"
                    class="button w-button">Admissions</a
                  >
                  <a
                    blocks-name="button-2"
                    href="/contact"
                    class="button is-secondary w-button">Get in Touch</a
                  >
                </div>
              </div>
            </div>
            <div class="academics-thecbs-edge_header_image-wrapper">
              <img
                src="/assets/images/academics/Primary-Curriculam.webp"
                loading="eager"
                sizes="(max-width: 991px) 100vw, 50vw"
                alt="icon-school-of-excellence-primary-curriculam"
                class="academics-thecbs-edge_header_image"
              />
            </div>
          </div>
        </header>
        <section
          id="learning-the-cbs-way"
          class="section_home_academic-programs"
        >
          <div class="padding-global overflow-visible">
            <div class="container-large">
              <div class="padding-section-medium">
                <div
                  blocks-name="layout251_component"
                  blocks-slot-children="ST232"
                  class="home_academic-programs_component"
                >
                  <div class="margin-bottom margin-xxlarge">
                    <div
                      blocks-name="layout251_content"
                      class="w-layout-grid home_academic-programs_content"
                    >
                      <div
                        blocks-name="layout251_content-left"
                        blocks-slot-children="ST232"
                        class="home_academic-programs_content-left"
                      >
                        <h2 blocks-name="heading" class="heading-3">
                          ISOE Student Profile
                        </h2>
                      </div>
                    </div>
                  </div>
                  <div
                    blocks-name="layout251_list"
                    class="w-layout-grid home_academic-programs_list"
                  >
                    <div
                      blocks-name="layout251_item"
                      blocks-slot-children="ST232"
                      class="home_academic-programs_item"
                    >
                      <div class="margin-bottom margin-medium">
                        <div
                          blocks-name="layout251_image-wrapper"
                          class="home_academic-programs_image-wrapper"
                        >
                          <a
                            href="/academics"
                            aria-current="page"
                            class="program-image-link w-inline-block w--current"
                            ><img
                              src="/assets/images/academics/Kindergarten-Curriculum.webp"
                              loading="lazy"
                              sizes="(max-width: 767px) 90vw, 43vw"
                              alt="icon-school-of-excellence-kindergarten-curriculum"
                              class="home_academic-programs_image"
                            /></a
                          >
                        </div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3
                          blocks-name="heading-style-h4"
                          class="heading-style-h4"
                        >
                          Kindergarten Curriculum (Nursery to Senior KG)
                        </h3>
                      </div>
                      <p blocks-name="paragraph-2">
                        <strong
                          >At ICON SCHOOL OF EXCELLENCE, we implement an
                          activity-based learning approach combined with
                          multi-sensory methods to ignite children's
                          imaginations and establish a solid foundation for
                          future learning. Our customized learning environment
                          encourages children to explore their interests in
                          unique ways. We promote various types of learning,
                          including participatory, supportive, active,
                          integrated, and learning through play. Foundational
                          skills in literacy, numeracy, and interpersonal
                          development are nurtured through these engaging
                          methods.
                          <br /></strong
                        >
                      </p>
                    </div>
                    <div
                      blocks-name="layout251_item-2"
                      blocks-slot-children="ST232"
                      class="home_academic-programs_item"
                    >
                      <div class="margin-bottom margin-medium">
                        <div
                          blocks-name="layout251_image-wrapper-2"
                          class="home_academic-programs_image-wrapper"
                        >
                          <a
                            href="/academics"
                            aria-current="page"
                            class="program-image-link w-inline-block w--current"
                            ><img
                              src="/assets/images/academics/Lower-Primary.webp"
                              loading="lazy"
                              sizes="(max-width: 767px) 90vw, 43vw"
                              alt="icon-school-of-excellence-lower-primary-curriculum"
                              class="home_academic-programs_image"
                            /></a
                          >
                        </div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3
                          blocks-name="heading-style-h4-2"
                          class="heading-style-h4"
                        >
                          Lower Primary School Curriculum (Grade I to V)
                        </h3>
                      </div>
                      <p blocks-name="paragraph-3">
                        <strong
                          >In the Lower Primary phase, we aim to ignite
                          enthusiasm for learning in languages, mathematics,
                          science, and social studies by emphasizing the
                          practical applications of concepts. Kannada serves as
                          the second language, while Hindi is taught as the
                          third language. Our teaching methods are
                          child-centric, incorporating life skills identified by
                          the World Health Organization, such as
                          problem-solving, critical thinking, communication, and
                          self-awareness. We also focus on co-curricular
                          activities, offering education in dance, fine arts,
                          elocution, and sports to foster holistic development.<br
                          /></strong
                        >
                      </p>
                    </div>
                    <div
                      blocks-name="layout251_item-3"
                      blocks-slot-children="ST232"
                      class="home_academic-programs_item"
                    >
                      <div class="margin-bottom margin-medium">
                        <div
                          blocks-name="layout251_image-wrapper-3"
                          class="home_academic-programs_image-wrapper"
                        >
                          <a
                            href="/academics"
                            aria-current="page"
                            class="program-image-link w-inline-block w--current"
                            ><img
                              src="/assets/images/academics/Higher-Primary.webp"
                              loading="lazy"
                              sizes="(max-width: 767px) 90vw, 43vw"
                              alt="icon-school-of-excellence-higher-primary-curriculum"
                              class="home_academic-programs_image"
                            /></a
                          >
                        </div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3
                          blocks-name="heading-style-h4-3"
                          class="heading-style-h4"
                        >
                          Higher Primary School Curriculum (Grade VI to VII)
                        </h3>
                      </div>
                      <p blocks-name="paragraph-4">
                        At this stage, our goal is to cultivate independent and
                        critical thinkers. We promote interdisciplinary
                        learning, encouraging students to apply theoretical
                        concepts in real-world scenarios. In addition to core
                        subjects like languages, mathematics, science, and
                        social studies, students engage in community-building
                        projects. Life skills remain a priority, enabling
                        students to synthesize their learning and emerge as
                        compassionate, inquisitive individuals.<br />
                      </p>
                    </div>
                    <div
                      blocks-name="layout251_item-3"
                      blocks-slot-children="ST232"
                      id="w-node-_3f3385ef-d700-2622-7fe1-35938535f68b-8535f655"
                      class="home_academic-programs_item"
                    >
                      <div class="margin-bottom margin-medium">
                        <div
                          blocks-name="layout251_image-wrapper-3"
                          class="home_academic-programs_image-wrapper"
                        >
                          <a
                            href="/academics"
                            aria-current="page"
                            class="program-image-link w-inline-block w--current"
                            ><img
                              src="/assets/images/academics/High-School-Curriculum.webp"
                              loading="lazy"
                              sizes="(max-width: 767px) 90vw, 43vw"
                              alt="icon-school-of-excellence-high-school-curriculum"
                              class="home_academic-programs_image"
                            /></a
                          >
                        </div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h3
                          blocks-name="heading-style-h4-3"
                          class="heading-style-h4"
                        >
                          High School Curriculum (Grade VIII to X)
                        </h3>
                      </div>

                      <p
                        blocks-name="paragraph-4"
                        id="w-node-_3f3385ef-d700-2622-7fe1-35938535f686-8535f655"
                      >
                        In high school, we prepare students to become
                        future-ready individuals, equipped with the skills
                        necessary to thrive in a competitive world. Our program
                        emphasizes academic excellence alongside the development
                        of discipline and essential life skills. We focus on
                        cultivating leadership abilities and critical thinking,
                        engaging students in community-related activities that
                        challenge them to solve real-world problems using their
                        knowledge. At ICON SCHOOL OF EXCELLENCE, we strive to
                        shape our students into role models who embody both
                        academic prowess and social responsibility.
                        <br />
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <Footer />
  </body>
</Layout>
