---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<Layout
  title="Icon School Of Excellence"
  description=""
  keywords=""
  og_title=""
  og_description=""
  og_image=""
  og_url=""
  canonical=""
>
  <body class="body">
    <div class="page-wrapper">
      <Header />

      <main class="main-wrapper">
        <header
          id="blog-header-5"
          class="section_blog_featured-blog-list-header"
        >
          <div class="padding-global">
            <div class="container-large">
              <div class="padding-section-large">
                <div class="margin-bottom margin-xxlarge">
                  <div
                    blocks-name="max-width-large"
                    blocks-slot-children="ST232"
                    class="max-width-large"
                  >
                    <div class="margin-bottom margin-small">
                      <h1 blocks-name="heading">Discover the Latest Events</h1>
                    </div>
                    <p
                      blocks-name="paragraph"
                      class="text-size-medium text-color-primary"
                    >
                      Explore the highlights of past events at Icon School.
                    </p>
                  </div>
                </div>
                <div class="blog_featured-blog-list-header_component">
                  <div
                    class="blog_featured-blog-list-header_list-wrapper w-dyn-list"
                  >
                    <div
                      role="list"
                      class="blog_featured-blog-list-header_list w-dyn-items"
                    >
                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/exhibition"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/exhibition/science.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-gandhi-jayanthi"
                                sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 28vw"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a>
                          <a
                            blocks-name="blog9_title-link-4"
                            href="/events/exhibition"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">
                              Science & Social Studies Exhibition
                            </h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/children"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/childrens-day/children's-day6.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-gandhi-jayanthi"
                                sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 28vw"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a>
                          <a
                            blocks-name="blog9_title-link-4"
                            href="/events/children"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">Children's Day</h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/kannada"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/kannada/kannada-rajyotsava.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-gandhi-jayanthi"
                                sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 28vw"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a>
                          <a
                            blocks-name="blog9_title-link-4"
                            href="/events/kannada"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">Kannada Rajyotsava</h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/ganthi-jayanti"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/icon school gandhi Jayanthi.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-gandhi-jayanthi"
                                sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 28vw"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a>
                          <a
                            blocks-name="blog9_title-link-4"
                            href="/events/ganthi-jayanti"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">Gandhi Jayanthi</h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/sri-krishna-janmashtami"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/icon school of excellence.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-sri-krishna-janmashtami"
                                sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 28vw"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a>
                          <a
                            blocks-name="blog9_title-link-4"
                            href="/events/sri-krishna-janmashtami"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">
                              Sri Krishna Janmashtami
                            </h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/independence-day"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/independence day/IMG_9391.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-independence-day"
                                sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 28vw"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a>
                          <a
                            blocks-name="blog9_title-link-4"
                            href="/events/independence-day"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">Independence Day</h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/yoga-day"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/yoga day/icon school of excellence.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-joga-day"
                                sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 28vw"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a>
                          <a
                            blocks-name="blog9_title-link-4"
                            href="/events/yoga-day"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">
                              International Yoga Day
                            </h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/fathers-day"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/fathers-day/icon school of excellence - fathers-day4.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-fathers-day"
                                sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 28vw"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a>
                          <a
                            blocks-name="blog9_title-link-4"
                            href="/events/fathers-day"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">
                              Father's Day Celebration
                            </h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/hindi-diwas"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/hindi diwas/hindi-diwas.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-hindi-diwas"
                                sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 28vw"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a>
                          <a
                            blocks-name="blog9_title-link-4"
                            href="/events/hindi-diwas"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">Hindi Divas</h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/activity"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/activity/icon school of excellence activity1.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-activity"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a><a
                            blocks-name="blog9_title-link-4"
                            href="/events/activity"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">Hands on Activity</h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/grandparentsday"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/grand parents/icon school of excellence - GPDC2.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-grand-parents-day"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a><a
                            blocks-name="blog9_title-link-4"
                            href="/events/grandparentsday"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">
                              Grand Parents Day Celebration
                            </h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/blue day"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/blue day/icon school of excellence.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-blue-day"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a><a
                            blocks-name="blog9_title-link-4"
                            href="/events/blue day"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">Blue Colour Day</h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/election"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/election/icon school of excellence.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-election"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a><a
                            blocks-name="blog9_title-link-4"
                            href="/events/election"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">
                              Student Council Election
                            </h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/field-trip"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/icon school field trip.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-field-trip"
                                sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 28vw"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a><a
                            blocks-name="blog9_title-link-4"
                            href="/events/field-trip"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">Field Trip</h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/green-day"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/events/green day/Icon School of Excellence.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-green-day"
                                sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 28vw"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a><a
                            blocks-name="blog9_title-link-4"
                            href="/events/green-day"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">Green Colour Day</h3>
                          </a>
                        </div>
                      </div>

                      <div
                        role="listitem"
                        class="blog_featured-blog-list-header_item w-dyn-item"
                      >
                        <div
                          blocks-name="blog9_item"
                          blocks-slot-children="ST232"
                          class="blog_featured-blog-list-header_item"
                        >
                          <a
                            blocks-name="blog9_image-link-2"
                            href="/events/friendship-day"
                            class="blog_featured-blog-list-header_image-link w-inline-block"
                          >
                            <div
                              class="blog_featured-blog-list-header_image-wrapper"
                            >
                              <img
                                src="/assets/images/ISOE -friendship day.webp"
                                loading="lazy"
                                alt="icon-school-of-excellence-friendship-day"
                                sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 28vw"
                                class="blog_featured-blog-list-header_image"
                              />
                            </div>
                          </a><a
                            blocks-name="blog9_title-link-4"
                            href="/events/friendship-day"
                            class="blog_featured-blog-list-header_title-link w-inline-block"
                          >
                            <h3 class="heading-style-h5">Friendship Day</h3>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </main>
    </div>
    <Footer />
  </body>
</Layout>
