---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<Layout
  title="Icon School Of Excellence"
  description=""
  keywords=""
  og_title=""
  og_description=""
  og_image=""
  og_url=""
  canonical=""
>
  <body>
    <div class="page-wrapper">
      <Header />
      <main class="main-wrapper">
        <header class="section_about-us_header-section-vision">
          <div class="w-layout-grid about-us_header-section-vision_component">
            <div class="about-us_header-section-vision_image-wrapper">
              <img
                src="/assets/images/ICON-School-Pic.webp"
                loading="eager"
                sizes="(max-width: 991px) 100vw, 50vw"
                alt="icon-school-of-excellence-extra-curricular-activities-page"
                class="about-us_header-section-vision_image"
              />
            </div>
            <div
              blocks-name="header37_content"
              blocks-slot-children="ST265"
              id="w-node-e9cdd7a8-7740-4c0d-c305-8be850f0119d-e424d2c7"
              class="about-us_header-section-vision_content"
            >
              <div>
                <h1 blocks-name="heading" class="heading-style-h1">
                  <strong>Extra curricular activities</strong>
                </h1>
              </div>
              <p
                blocks-name="paragraph"
                class="text-size-medium text-color-primary"
              >
                At Icon School of Excellence, we firmly believe that a
                comprehensive education encompasses more than just academics.
                Our co-curricular activities are carefully curated to nurture
                creativity, critical thinking, and emotional intelligence,
                fostering well-rounded individuals ready to excel in various
                facets of life.
              </p>
              <div class="margin-top margin-medium">
                <div
                  blocks-slot-children="ST232"
                  blocks-name="button-group"
                  class="button-group"
                >
                  <a
                    blocks-name="button"
                    href="/admissions"
                    class="button w-button">Admissions</a
                  >
                  <a
                    blocks-name="button-2"
                    href="/contact"
                    class="button is-secondary w-button">Contact Us</a
                  >
                </div>
              </div>
            </div>
          </div>
        </header>
        <section class="section_layout350">
          <div class="padding-global-2 background-image">
            <div class="container-large-2">
              <div class="padding-section">
                <div class="w-layout-grid layout350_component">
                  <div
                    id="sticky-tab-container"
                    class="layout350_tabs-menu-2 w-node-_2d790f51-e46b-61e1-7349-fe38e1fd65dd-e424d2c7"
                  >
                    <a
                      href="#Classical-Dance"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Classical Dance</div>
                    </a>
                    <a
                      href="#Western-Dance"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Western Dance</div>
                    </a>
                    <a href="#Abacus" class="layout350_tab-link w-inline-block">
                      <div>Abacus</div>
                    </a>
                    <a
                      href="#Life-Skills"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Life Skills</div>
                    </a>
                    <a
                      href="#Robotics"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Robotics</div>
                    </a>
                    <a
                      href="#Music-Instruments"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Music and Instruments</div>
                    </a>
                    <a
                      href="#Singing"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Singing</div>
                    </a>
                    <a
                      href="#Art-Craft"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Art and Craft</div>
                    </a>
                    <a href="#Karate" class="layout350_tab-link w-inline-block">
                      <div>Karate</div>
                    </a>
                    <a href="#Yoga" class="layout350_tab-link w-inline-block">
                      <div>Yoga</div>
                    </a>
                    <a
                      href="#Skating"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Skating</div>
                    </a>
                    <a
                      href="#Quizzing"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Quizzing</div>
                    </a>
                  </div>
                  <div
                    id="w-node-_2d790f51-e46b-61e1-7349-fe38e1fd65dc-e424d2c7"
                    class="layout350_content-wrapper"
                  >
                    <div
                      id="Classical-Dance"
                      data-w-id="2d790f51-e46b-61e1-7349-fe38e1fd6623"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Classical Dance</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium">
                          Our classical dance program introduces students to the
                          rich heritage of dance forms like Bharatanatyam,
                          Kathak, and Odissi. These classes not only enhance
                          physical fitness and coordination but also teach
                          students about cultural storytelling and expression
                          through movement. Regular performances provide
                          students with the opportunity to showcase their
                          skills, building confidence and stage presence.<br />‍
                        </p><img
                          src="/assets/images/academics/classical-dance.webp"
                          loading="lazy"
                          alt="icon-school-of-excellence-classical-dance"
                          class="layout350_mobile-image"
                        />
                      </div>
                    </div>
                    <div
                      id="Western-Dance"
                      data-w-id="2d790f51-e46b-61e1-7349-fe38e1fd6610"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Western Dance</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium">
                          For students inclined towards contemporary styles, our
                          Western dance program offers classes in hip-hop, jazz,
                          and contemporary dance. This vibrant environment
                          encourages self-expression and fosters creativity
                          while promoting teamwork through group choreography.
                          Students participate in showcases and competitions,
                          giving them a platform to shine.<br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/academics/western-dance.avif"
                            loading="lazy"
                            alt="icon-school-of-excellence-western-dance"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Abacus"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb8a"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Abacus</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          The abacus program is designed to sharpen mental math
                          skills through an interactive and engaging approach.
                          Students learn to perform calculations quickly and
                          accurately, boosting their confidence in mathematics.
                          The program encourages logical thinking and
                          problem-solving abilities, which are essential for
                          success in higher education and everyday life.<br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/academics/abacus.webp"
                            loading="lazy"
                            alt="icon-school-of-excellence-abacus"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Life-Skills"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb8a"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Life Skills</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          Our life skills program focuses on essential
                          competencies such as communication, conflict
                          resolution, and decision-making. Through workshops,
                          role-playing, and group discussions, students gain
                          valuable insights into personal development. This
                          training equips them with the tools to navigate social
                          situations, manage their emotions, and build healthy
                          relationships.<br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/academics/life-skills.webp"
                            loading="lazy"
                            alt="icon-school-of-excellence-life-skills"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Robotics"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb8a"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Robotics</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          The robotics program at Icon School of Excellence
                          introduces students to the fundamentals of engineering
                          and programming. Through hands-on projects, students
                          work in teams to design and build robots, fostering
                          collaboration and innovation. This program not only
                          enhances technical skills but also encourages
                          creativity and critical thinking as students solve
                          real-world challenges.<br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/academics/robotics.webp"
                            loading="lazy"
                            alt="icon-school-of-excellence-robotics"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Music-Instruments"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb8a"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Music and Instruments</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          In our music program, students can explore a variety
                          of instruments, including the piano, guitar, and
                          drums. They learn music theory, composition, and
                          performance techniques, enriching their understanding
                          of music. Participating in band or ensemble groups
                          cultivates teamwork and provides opportunities for
                          collaborative performances.<br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/academics/music-instruments.webp"
                            loading="lazy"
                            alt="icon-school-of-excellence-music-instruments"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Singing"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb8a"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Singing</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          The singing program emphasizes vocal techniques,
                          breath control, and performance skills. Students
                          engage in group and solo performances, participating
                          in competitions and recitals that build their
                          confidence and stage presence. Through this program,
                          they learn to express emotions through music,
                          enhancing their appreciation for the art.<br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/academics/singing.webp"
                            loading="lazy"
                            alt="icon-school-of-excellence-singing"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Art-Craft"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb8a"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Art and Craft</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          Our art and craft classes encourage students to
                          explore their creative potential through diverse
                          projects. From painting to sculpture, students work
                          with various materials, fostering artistic skills and
                          self-expression. Regular exhibitions allow students to
                          showcase their work, celebrating their creativity and
                          inspiring others.<br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/academics/art-craft.webp"
                            loading="lazy"
                            alt="icon-school-of-excellence-art-craft"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Karate"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb8a"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Karate</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          The karate program teaches discipline, respect, and
                          self-defense techniques. Students learn the importance
                          of perseverance and goal-setting as they progress
                          through different belt levels. The physical training
                          not only improves fitness but also instills a sense of
                          confidence and self-discipline that benefits students
                          in all areas of life.<br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/academics/karate.webp"
                            loading="lazy"
                            alt="icon-school-of-excellence-karate"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Yoga"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb8a"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Yoga</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          Our yoga classes promote mindfulness, relaxation, and
                          physical well-being. Students learn various poses and
                          breathing techniques that help reduce stress and
                          improve concentration. This practice encourages a
                          balanced lifestyle and cultivates a deeper awareness
                          of mental and physical health.<br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/academics/yoga.webp"
                            loading="lazy"
                            alt="icon-school-of-excellence-yoga"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Skating"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb8a"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Skating</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          Skating offers a fun way for students to improve their
                          balance, coordination, and physical fitness. Whether
                          on roller skates or ice skates, students enjoy a
                          thrilling experience while developing important motor
                          skills. Group skating sessions foster camaraderie and
                          teamwork, enhancing social interactions.<br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/academics/skate.webp"
                            loading="lazy"
                            alt="icon-school-of-excellence-skating"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Quizzing"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb8a"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Quizzing</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          The quizzing program encourages students to engage in
                          friendly competition while enhancing their knowledge
                          across subjects. Through team quizzes, students
                          develop research skills, quick thinking, and
                          confidence in public speaking. This interactive format
                          makes learning fun and stimulates a passion for
                          knowledge.<br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/academics/quiz.webp"
                            loading="lazy"
                            alt="icon-school-of-excellence-quizzing"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <Footer />
  </body>
</Layout>
