---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<Layout
  title="Icon School Of Excellence"
  description=""
  keywords=""
  og_title=""
  og_description=""
  og_image=""
  og_url=""
  canonical=""
>
  <body>
    <div class="page-wrapper">
      <Header />
      <main class="main-wrapper">
        <header class="section_about-us_header-section-vision">
          <div class="w-layout-grid about-us_header-section-vision_component">
            <div class="about-us_header-section-vision_image-wrapper">
              <img
                src="/assets/images/ICON-School-Pic.webp"
                loading="eager"
                sizes="(max-width: 991px) 100vw, 50vw"
                alt="icon-school-of-excellence-facilities"
                class="about-us_header-section-vision_image"
              />
            </div>
            <div
              blocks-name="header37_content"
              blocks-slot-children="ST265"
              id="w-node-e9cdd7a8-7740-4c0d-c305-8be850f0119d-e424d2c7"
              class="about-us_header-section-vision_content"
            >
              <div class="margin-bottom margin-small">
                <h1 blocks-name="heading" class="heading-style-h1">
                  <strong>Facilities</strong>
                </h1>
              </div>
              <p
                blocks-name="paragraph"
                class="text-size-medium text-color-primary"
              >
                At Icon School Of Excellence, it is our belief, and purpose,
                that all children can be leaders given the right environment,
                tools, and support. This is why everything we do here is aimed
                at helping the child discover their leadership potential through
                learning, play, and practical implementation.
              </p>
              <div class="margin-top margin-medium">
                <div
                  blocks-slot-children="ST232"
                  blocks-name="button-group"
                  class="button-group"
                >
                  <a
                    blocks-name="button"
                    href="/admissions"
                    class="button w-button">Admissions</a
                  >
                  <a
                    blocks-name="button-2"
                    href="/contact"
                    class="button is-secondary w-button">Contact Us</a
                  >
                </div>
              </div>
            </div>
          </div>
        </header>
        <section class="section_layout350">
          <div class="padding-global-2 background-image">
            <div class="container-large-2">
              <div class="padding-section">
                <div class="w-layout-grid layout350_component">
                  <div
                    id="sticky-tab-container"
                    class="layout350_tabs-menu-2 w-node-_2d790f51-e46b-61e1-7349-fe38e1fd65dd-e424d2c7"
                  >
                    <a
                      href="#Smart-Class-Rooms"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Smart Class Rooms</div>
                    </a><a
                      href="#Laboratories"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Laboratories</div>
                    </a><a
                      href="#Library"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Library</div>
                    </a><a
                      href="#Transport"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Transport</div>
                    </a><a
                      href="#Sports"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Sports</div>
                    </a><a
                      href="#Auditorium"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Auditorium</div>
                    </a><a
                      href="#Music-Room"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>Music Room</div>
                    </a>
                  </div>
                  <div
                    id="w-node-_2d790f51-e46b-61e1-7349-fe38e1fd65dc-e424d2c7"
                    class="layout350_content-wrapper"
                  >
                    <div
                      id="Smart-Class-Rooms"
                      data-w-id="2d790f51-e46b-61e1-7349-fe38e1fd6623"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Smart Class Rooms</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium">
                          Our school is equipped with state-of-the-art
                          facilities designed to create an optimal learning
                          environment. From modern classrooms to well-maintained
                          outdoor spaces, every aspect is crafted to support
                          student growth and engagement. We utilize the latest
                          technology to create smart audio visual enabled
                          classrooms that facilitate interactive and engaging
                          learning experiences. These classrooms encourage
                          collaboration and creativity, making lessons more
                          dynamic and enjoyable.<br />‍
                        </p><img
                          src="/assets/images/facilities/smart-classroom.webp"
                          loading="lazy"
                          sizes="(max-width: 479px) 99vw, (max-width: 767px) 90vw, (max-width: 991px) 57vw, 33vw"
                          alt="icon-school-of-excellence-smart-class-rooms"
                          class="layout350_mobile-image"
                        />
                      </div>
                    </div>
                    <div
                      id="Laboratories"
                      data-w-id="b29a5bea-85d8-ad30-463b-9bcddce87bde"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Laboratories</h2>
                      </div>
                      <div
                        data-current="Tab 1"
                        data-easing="ease"
                        data-duration-in="300"
                        data-duration-out="100"
                        class="layout402_component w-tabs"
                      >
                        <div
                          class="layout402_tabs-menu no-scrollbar w-tab-menu"
                        >
                          <a
                            data-w-tab="Tab 1"
                            class="layout350_tab-link w-inline-block w-tab-link w--current"
                          >
                            <div>Physics Lab</div>
                          </a>
                          <a
                            data-w-tab="Tab 2"
                            class="layout350_tab-link w-inline-block w-tab-link"
                          >
                            <div>Chemistry Lab</div>
                          </a>
                          <a
                            data-w-tab="Tab 3"
                            class="layout350_tab-link w-inline-block w-tab-link"
                          >
                            <div>Biology Lab</div>
                          </a>
                          <a
                            data-w-tab="Tab 4"
                            class="layout350_tab-link w-inline-block w-tab-link"
                          >
                            <div>Computer/Language Lab</div>
                          </a><a
                            data-w-tab="Tab 5"
                            class="layout350_tab-link w-inline-block w-tab-link"
                          >
                            <div>Mathematics Lab</div>
                          </a>
                        </div>
                        <div class="layout402_tabs-content w-tab-content">
                          <div
                            data-w-tab="Tab 1"
                            class="w-tab-pane w--tab-active"
                          >
                            <div class="layout402_tab-wrapper">
                              <div class="layout402_content">
                                <div class="margin-bottom margin-small">
                                  <h2>Physics Lab</h2>
                                </div>
                                <div class="text-item-holder">
                                  <p class="text-size-medium-2">
                                    Our Physics Lab provides students with the
                                    opportunity to explore fundamental
                                    principles through practical experiments.
                                    Students engage in various activities that
                                    illustrate key concepts such as mechanics,
                                    electricity, magnetism, and optics. This
                                    hands-on approach solidifies theoretical
                                    knowledge by allowing students to observe
                                    physical phenomena in action. Additionally,
                                    students learn to apply mathematical
                                    principles to analyze data, enhancing their
                                    critical thinking and problem-solving
                                    skills. The lab also promotes collaborative
                                    learning, as students often work in groups
                                    to conduct experiments, share results, and
                                    discuss findings.
                                  </p>
                                  <div class="layout402_image-wrapper">
                                    <img
                                      sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                      alt="icon-school-of-excellence-physics-lab"
                                      src="/assets/images/facilities/PhysicsLab.webp"
                                      loading="lazy"
                                      class="layout350_mobile-image"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            data-w-tab="Tab 2"
                            class="layout402_tab-pane w-tab-pane"
                          >
                            <div class="layout402_tab-wrapper">
                              <div class="layout402_content">
                                <div class="margin-bottom margin-small">
                                  <h2>Chemistry Lab</h2>
                                </div>
                                <div class="text-item-holder">
                                  <p class="text-size-medium-2">
                                    The Chemistry Lab is equipped with modern
                                    tools and safety equipment, providing a safe
                                    environment for students to delve into the
                                    world of chemical reactions and properties.
                                    Students conduct experiments to explore
                                    topics such as acid-base reactions, organic
                                    chemistry, and stoichiometry. This hands-on
                                    experience makes abstract concepts tangible
                                    and easier to understand. Emphasizing
                                    safety, students are taught proper lab
                                    protocols and the use of personal protective
                                    equipment (PPE) to instill a culture of
                                    safety in scientific practice. The lab
                                    encourages inquiry-based learning, prompting
                                    students to formulate hypotheses, conduct
                                    experiments, and analyzes results, fostering
                                    curiosity and a spirit of exploration.<br />
                                  </p><img
                                    id="w-node-_6da923ec-b54a-327b-5ac0-2d80f3eb383a-e424d2c7"
                                    sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                    alt="icon-school-of-excellence-chemistry-lab"
                                    src="/assets/images/facilities/Chemistry-Lab.webp"
                                    loading="lazy"
                                    class="layout350_mobile-image"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div data-w-tab="Tab 3" class="w-tab-pane">
                            <div class="layout402_tab-wrapper">
                              <div class="layout402_content">
                                <div class="margin-bottom margin-small">
                                  <h2>Biology Lab</h2>
                                </div>
                                <div
                                  id="w-node-bdcf7273-a466-3d92-2ce6-991bf8689f3d-e424d2c7"
                                  class="text-item-holder"
                                >
                                  <p class="text-size-medium-2">
                                    In the Biology Lab, students study the
                                    complexities of life sciences in a
                                    comprehensive environment. Equipped with
                                    microscopes and a variety of specimens,
                                    students engage in hands-on exploration of
                                    cellular structures, plant anatomy, and
                                    animal biology, enhancing their
                                    observational skills and understanding of
                                    living organisms. They conduct experiments
                                    related to genetics, ecology, and
                                    physiology, promoting active learning and
                                    critical analysis of biological processes.
                                    In addition to lab work, students may
                                    participate in field studies, allowing them
                                    to observe ecosystems and biodiversity in
                                    real-world contexts.<br />
                                  </p><img
                                    id="w-node-dd416e96-c1a2-de40-3437-8240e0b3d82c-e424d2c7"
                                    sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                    alt="icon-school-of-excellence-biology-lab"
                                    src="/assets/images/facilities/biology.webp"
                                    loading="lazy"
                                    class="layout350_mobile-image"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div data-w-tab="Tab 4" class="w-tab-pane">
                            <div class="layout402_tab-wrapper">
                              <div class="layout402_content">
                                <div class="margin-bottom margin-small">
                                  <h2>Computer/Language Lab</h2>
                                </div>
                                <div class="text-item-holder">
                                  <p class="text-size-medium-2">
                                    The computer lab is outfitted with the
                                    latest technology, providing students with
                                    access to essential software and tools. This
                                    space supports digital literacy and coding
                                    skills, preparing students for a tech-driven
                                    world. Equipped with audio-visual aids and
                                    language learning software, it helps
                                    students improve their communication skills
                                    in a dynamic environment.
                                    <br />
                                  </p><img
                                    id="w-node-dda30ac6-ea70-1fb0-1577-88a17a22ded6-e424d2c7"
                                    sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                    alt="icon-school-of-excellence-computer-language-lab"
                                    src="/assets/images/facilities/language-laboratory.webp"
                                    loading="lazy"
                                    class="layout350_mobile-image"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            data-w-tab="Tab 5"
                            class="layout402_tab-pane w-tab-pane"
                          >
                            <div class="layout402_tab-wrapper">
                              <div class="layout402_content">
                                <div class="margin-bottom margin-small">
                                  <h2>Mathematics Lab</h2>
                                </div>
                                <div class="text-item-holder">
                                  <p class="text-size-medium-2">
                                    Our mathematics lab offers interactive
                                    learning tools and resources that make
                                    complex concepts more accessible. Students
                                    can engage in problem-solving activities and
                                    collaborative projects, fostering a deeper
                                    understanding of mathematical principles.
                                    <br />
                                  </p><img
                                    id="w-node-ced37c4c-34a0-fc25-f495-19401a587243-e424d2c7"
                                    sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                    alt="icon-school-of-excellence-mathematics-lab"
                                    src="/assets/images/facilities/math-lab.webp"
                                    loading="lazy"
                                    class="layout350_mobile-image"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      id="Library"
                      data-w-id="2d790f51-e46b-61e1-7349-fe38e1fd6623"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Library</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium">
                          At ICON SCHOOL OF EXCELLENCE, our library is a
                          cornerstone of the educational experience, designed to
                          inspire a love for reading and lifelong learning. Here
                          are some key features of our library: <br />
                          <br />

                          Extensive Collection Our library boasts a diverse
                          range of books, including fiction, non-fiction,
                          reference materials, and academic resources. This
                          extensive collection caters to various age groups and
                          interests, encouraging students to explore different
                          genres and topics. Collaborative Spaces The library
                          includes collaborative spaces where students can work
                          together on projects or study in groups. These areas
                          promote teamwork and enhance the learning experience
                          through collaboration. <br />
                          <br />

                          By fostering a rich learning environment, the library
                          at ICON SCHOOL OF EXCELLENCE plays a vital role in
                          supporting academic success and nurturing a passion
                          for knowledge.<br />‍
                        </p><img
                          src="/assets/images/facilities/library.webp"
                          loading="lazy"
                          sizes="(max-width: 479px) 99vw, (max-width: 767px) 90vw, (max-width: 991px) 57vw, 33vw"
                          alt="icon-school-of-excellence-library"
                          class="layout350_mobile-image"
                        />
                      </div>
                    </div>
                    <div
                      id="Transport"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb9d"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Transport</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          ICON SCHOOL OF EXCELLENCE provides convenient school
                          bus services from various nearby areas in Bangalore.
                          With well-maintained buses and trained staff, we
                          prioritize punctuality and student well-being during
                          their daily commute. This service allows parents to
                          have peace of mind while ensuring that students arrive
                          at school ready to learn and grow.<br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/facilities/school-bus.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, (max-width: 991px) 57vw, 33vw"
                            alt="icon-school-of-excellence-transport"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Sports"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb9d"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Sports</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          The school features a fully equipped sports room
                          stocked with a wide range of indoor and outdoor game
                          supplies. This facility encourages students to engage
                          in various sports, promoting physical fitness,
                          teamwork, and a healthy lifestyle. Whether it's
                          badminton, table tennis, basketball, or outdoor
                          activities like football and cricket, our sports room
                          provides the necessary resources for students to hone
                          their skills and enjoy recreational activities. With a
                          focus on fostering a love for sports, we aim to
                          develop not only athletic abilities but also essential
                          life skills such as discipline and perseverance.<br
                          />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/facilities/sports.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, (max-width: 991px) 57vw, 33vw"
                            alt="icon-school-of-excellence-sports"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Auditorium"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb9d"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Auditorium</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          The auditorium at Icon School of Excellence is a
                          modern venue designed to enhance the educational
                          experience. Equipped with advanced audiovisual
                          technology and spacious seating, it hosts school
                          assemblies, cultural performances, guest lectures, and
                          workshops. This versatile space ensures high-quality
                          sound and lighting, creating an engaging atmosphere
                          for all events. <br /><br />

                          It also serves as a platform for students to showcase
                          their talents, helping them build confidence and
                          public speaking skills. Overall, the auditorium
                          fosters creativity and community connections, playing
                          a vital role in the school's commitment to holistic
                          education and enriching the students' learning
                          journey.
                          <br />‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/facilities/auditorium.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, (max-width: 991px) 57vw, 33vw"
                            alt="icon-school-of-excellence-auditorium"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      id="Music-Room"
                      data-w-id="8e5defba-c5d9-0c92-8352-6fc23299fb9d"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2>Music Room</h2>
                      </div>
                      <div class="text-item-holder">
                        <p class="text-size-medium-2">
                          The music room is a vibrant space designed to nurture
                          students' musical abilities. Equipped with a variety
                          of instruments and sound technology, it offers
                          opportunities for vocal training, instrument lessons,
                          and group performances. Students can explore different
                          genres and styles, fostering a lifelong appreciation
                          for music.‍
                        </p>
                        <div class="layout350_mobile-image-wrapper">
                          <img
                            src="/assets/images/facilities/music-room.webp"
                            loading="lazy"
                            sizes="(max-width: 767px) 90vw, (max-width: 991px) 57vw, 33vw"
                            alt="icon-school-of-excellence-music-room"
                            class="layout350_mobile-image"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <Footer />
    </div>
  </body>
</Layout>
