---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<Layout
  title="Icon School Of Excellence"
  description=""
  keywords=""
  og_title=""
  og_description=""
  og_image=""
  og_url=""
  canonical=""
>
  <body>
    <Header />

    <main class="main-wrapper">
      <section id="testimonials" class="section_about-us_testimonial">
        <div class="padding-global pink-bg">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="margin-bottom margin-xxlarge">
                <div class="text-align-center">
                  <div
                    blocks-name="max-width-large"
                    blocks-slot-children="ST232"
                    class="max-width-large align-center"
                  >
                    <div class="margin-bottom margin-small">
                      <h2 blocks-name="heading" class="text-color-white">
                        REGULATIONS
                      </h2>
                    </div>
                    <p
                      blocks-name="paragraph"
                      class="text-size-medium text-color-white text-align-center"
                    >
                      Hear what our notable alumni and stakeholders have to say.
                    </p>
                  </div>
                </div>
              </div>
              <div class="w-dyn-list">
                <div
                  role="list"
                  class="about-us_testimonial_component w-dyn-items"
                >
                  <div
                    role="listitem"
                    class="about-us_testimonial_card w-dyn-item"
                  >
                    <div class="margin-bottom margin-small">
                      <div
                        blocks-name="block"
                        class="text-size-medium text-color-primary text-weight-bold"
                      >
                        PUNCTUALITY & ATTENDENCE
                      </div>
                    </div>
                    <div blocks-name="testimonial18_client">
                      <div
                        blocks-name="block-10"
                        blocks-slot-children="ST232"
                        class="about-us_testimonial_client-info"
                      >
                        <p blocks-name="paragraph-2">
                          Attendance is mandated at ICON SCHOOL OF EXCELLENCE.
                          Permission to be absent is granted upon verifying the
                          genuinity of the reason. All documents pertaining to
                          the reason for absence must be submitted. Prior
                          permission must be obtained from the school
                          authorities for any short/long absence.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    role="listitem"
                    class="about-us_testimonial_card w-dyn-item"
                  >
                    <div class="margin-bottom margin-small">
                      <div
                        blocks-name="block"
                        class="text-size-medium text-color-primary text-weight-bold"
                      >
                        DAILY ASSEMBLY
                      </div>
                    </div>
                    <div blocks-name="testimonial18_client">
                      <div
                        blocks-name="block-10"
                        blocks-slot-children="ST232"
                        class="about-us_testimonial_client-info"
                      >
                        <p blocks-name="paragraph-2">
                          Students are expected to be in school by 8.20 A.M.
                          Attending the daily assembly is a must.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    role="listitem"
                    class="about-us_testimonial_card w-dyn-item"
                  >
                    <div class="margin-bottom margin-small">
                      <div
                        blocks-name="block"
                        class="text-size-medium text-color-primary text-weight-bold"
                      >
                        CLASSROOM CONDUCT
                      </div>
                    </div>
                    <div blocks-name="testimonial18_client">
                      <div
                        blocks-name="block-10"
                        blocks-slot-children="ST232"
                        class="about-us_testimonial_client-info"
                      >
                        <p blocks-name="paragraph-2">
                          Discipline forms one of the core values at our school.
                          Classroom conduct must strictly adhere to ground rules
                          laid down by teachers and school management
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    role="listitem"
                    class="about-us_testimonial_card w-dyn-item"
                  >
                    <div class="margin-bottom margin-small">
                      <div
                        blocks-name="block"
                        class="text-size-medium text-color-primary text-weight-bold"
                      >
                        JEWELLERY / ACCESSORIES
                      </div>
                    </div>
                    <div blocks-name="testimonial18_client">
                      <div
                        blocks-name="block-10"
                        blocks-slot-children="ST232"
                        class="about-us_testimonial_client-info"
                      >
                        <p blocks-name="paragraph-2">
                          Girls may only wear one set of plain black/gold/silver
                          round ear-studs. Apart from this, no other jewellery
                          of any kind are entertained. Boys are not allowed to
                          wear earrings/ear studs. Nails must be kept short and
                          clean. Application of nail polish is not allowed.
                          Girls are not allowed to put on facial makeup.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    role="listitem"
                    class="about-us_testimonial_card w-dyn-item"
                  >
                    <div class="margin-bottom margin-small">
                      <div
                        blocks-name="block"
                        class="text-size-medium text-color-primary text-weight-bold"
                      >
                        HAIR STYLE
                      </div>
                    </div>
                    <div blocks-name="testimonial18_client">
                      <div
                        blocks-name="block-10"
                        blocks-slot-children="ST232"
                        class="about-us_testimonial_client-info"
                      >
                        <p blocks-name="paragraph-2">
                          Hair must be kept neat and tidy at all times. This is
                          for both boys and girls. Fancy hair styling, tinting,
                          dyeing, highlighting and bleaching of hair are
                          strictly not allowed for all students. Girls must
                          braid their hair in case of it being long.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    role="listitem"
                    class="about-us_testimonial_card w-dyn-item"
                  >
                    <div class="margin-bottom margin-small">
                      <div
                        blocks-name="block"
                        class="text-size-medium text-color-primary text-weight-bold"
                      >
                        DISCIPLINARY ISSUES
                      </div>
                    </div>
                    <div blocks-name="testimonial18_client">
                      <div
                        blocks-name="block-10"
                        blocks-slot-children="ST232"
                        class="about-us_testimonial_client-info"
                      >
                        <p blocks-name="paragraph-2">
                          All disciplinary issues pertaining to students will be
                          first tried to be addressed with students. In the
                          absence of any progress, parents shall be intimated.
                          We wish to support students at all cost, however in
                          cases where the student fails to adhere to the rules
                          and regulation and if there is intentional violation
                          of the same, the school reserves the right to expel
                          the student out of the school
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    role="listitem"
                    class="about-us_testimonial_card w-dyn-item"
                  >
                    <div class="margin-bottom margin-small">
                      <div
                        blocks-name="block"
                        class="text-size-medium text-color-primary text-weight-bold"
                      >
                        The PAYMENT OF THE FEES
                      </div>
                    </div>
                    <div blocks-name="testimonial18_client">
                      <div
                        blocks-name="block-10"
                        blocks-slot-children="ST232"
                        class="about-us_testimonial_client-info"
                      >
                        <p blocks-name="paragraph-2">
                          We request parents to pay the fee on time. Failure to
                          pay the fee may result in termination of the admission
                          of the student
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    role="listitem"
                    class="about-us_testimonial_card w-dyn-item"
                  >
                    <div class="margin-bottom margin-small">
                      <div
                        blocks-name="block"
                        class="text-size-medium text-color-primary text-weight-bold"
                      >
                        The PARENT / GUARDIANS PARTICIPATION & CO - OPERATION
                      </div>
                    </div>
                    <div blocks-name="testimonial18_client">
                      <div
                        blocks-name="block-10"
                        blocks-slot-children="ST232"
                        class="about-us_testimonial_client-info"
                      >
                        <p blocks-name="paragraph-2">
                          Parents/Guardians are expected to attend all parents
                          and teachers meeting. They are encouraged to be
                          supportive of the rules and regulations enumerated by
                          the school
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    role="listitem"
                    class="about-us_testimonial_card w-dyn-item"
                  >
                    <div class="margin-bottom margin-small">
                      <div
                        blocks-name="block"
                        class="text-size-medium text-color-primary text-weight-bold"
                      >
                        UNIFORM
                      </div>
                    </div>
                    <div blocks-name="testimonial18_client">
                      <div
                        blocks-name="block-10"
                        blocks-slot-children="ST232"
                        class="about-us_testimonial_client-info"
                      >
                        <p blocks-name="paragraph-2">
                          The School uniform is mandated on all school days and
                          official functions. We expect parents/guardians to
                          ensure that the uniform is clean and neatly pressed
                          Monday, Wednesday, Thursday, Saturday: Common Uniform
                          Tuesday / Friday: Sports / House Uniforms
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    role="listitem"
                    class="about-us_testimonial_card w-dyn-item"
                  >
                    <div class="margin-bottom margin-small">
                      <div
                        blocks-name="block"
                        class="text-size-medium text-color-primary text-weight-bold"
                      >
                        EXAMS & PROMOTIONS
                      </div>
                    </div>
                    <div blocks-name="testimonial18_client">
                      <div
                        blocks-name="block-10"
                        blocks-slot-children="ST232"
                        class="about-us_testimonial_client-info"
                      >
                        <p blocks-name="paragraph-2">
                          Students’ academic progress are assessed through
                          Student Readiness Assessments, Unit Tests & Term I &
                          term II assessments upon successful completion of
                          assessments by students throughout the year, the
                          student will be eligible to get promoted to the next
                          class.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    role="listitem"
                    class="about-us_testimonial_card w-dyn-item"
                  >
                    <div class="margin-bottom margin-small">
                      <div
                        blocks-name="block"
                        class="text-size-medium text-color-primary text-weight-bold"
                      >
                        DETENTION
                      </div>
                    </div>
                    <div blocks-name="testimonial18_client">
                      <div
                        blocks-name="block-10"
                        blocks-slot-children="ST232"
                        class="about-us_testimonial_client-info"
                      >
                        <p blocks-name="paragraph-2">
                          Students will be subjected to be detention only once
                          in a particular class. If the student has not made any
                          substantial progress in the current year, despite
                          detention if the student do not make any progress then
                          the student will have to be withdrawn from the school.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <article class="section_academics-thecbs-edge_leadership">
        <div class="padding-global background-color-tertiary">
          <div class="container-large">
            <div class="padding-section-medium">
              <div class="margin-bottom margin-xxlarge">
                <div
                  blocks-name="max-width-large"
                  blocks-slot-children="ST232"
                  class="max-width-large"
                >
                  <div class="margin-bottom margin-small">
                    <h2 blocks-name="heading">
                      THE FOLLOWING ARE NOT TO BE BROUGHT ON TO THE SCHOOL
                      CAMPUS
                    </h2>
                  </div>
                </div>
              </div>

              <div class="w-dyn-list">
                <div
                  fs-cmsslider-element="list"
                  role="list"
                  class="collection-list-2 w-dyn-items"
                >
                  <div
                    id="w-node-_3a7f7a06-8874-38e4-5ab3-e40486c3f837-e424d2a9"
                    role="listitem"
                    class="w-dyn-item"
                  >
                    <div
                      blocks-name="team10_item"
                      blocks-slot-children="ST232"
                      class="academics-thecbs-edge_leadership_item"
                    >
                      <div class="margin-bottom margin-small">
                        <div
                          blocks-name="team10_image-wrapper"
                          class="academics-thecbs-edge_leadership_image-wrapper"
                        >
                          <img
                            src="/assets/images/icons/alcol.png"
                            loading="lazy"
                            alt="icon-school-of-excellence-no-alcohal"
                            width="50%"
                          />
                        </div>

                        <div class="margin-bottom margin-xsmall">
                          <div class="leadership-title-holder">
                            <div
                              blocks-name="block-2"
                              class="text-size-large text-weight-semibold"
                            >
                              Alcohol / drugs
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    id="w-node-_3a7f7a06-8874-38e4-5ab3-e40486c3f837-e424d2a9"
                    role="listitem"
                    class="w-dyn-item"
                  >
                    <div
                      blocks-name="team10_item"
                      blocks-slot-children="ST232"
                      class="academics-thecbs-edge_leadership_item"
                    >
                      <div class="margin-bottom margin-small">
                        <div
                          blocks-name="team10_image-wrapper"
                          class="academics-thecbs-edge_leadership_image-wrapper"
                        >
                          <img
                            src="/assets/images/icons/phone.png"
                            loading="lazy"
                            alt="icon-school-of-excellence-no-cellphones"
                            width="50%"
                          />
                        </div>

                        <div class="margin-bottom margin-xsmall">
                          <div class="leadership-title-holder">
                            <div
                              blocks-name="block-2"
                              class="text-size-large text-weight-semibold"
                            >
                              Cell phones or any other electronic gadgets
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    id="w-node-_3a7f7a06-8874-38e4-5ab3-e40486c3f837-e424d2a9"
                    role="listitem"
                    class="w-dyn-item"
                  >
                    <div
                      blocks-name="team10_item"
                      blocks-slot-children="ST232"
                      class="academics-thecbs-edge_leadership_item"
                    >
                      <div class="margin-bottom margin-small">
                        <div
                          blocks-name="team10_image-wrapper"
                          class="academics-thecbs-edge_leadership_image-wrapper"
                        >
                          <img
                            src="/assets/images/icons/chemical.png"
                            loading="lazy"
                            alt="icon-school-of-excellence-no-chemicals"
                            width="50%"
                          />
                        </div>

                        <div class="margin-bottom margin-xsmall">
                          <div class="leadership-title-holder">
                            <div
                              blocks-name="block-2"
                              class="text-size-large text-weight-semibold"
                            >
                              &nbsp;&nbsp; &nbsp;&nbsp;Chemicals
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    id="w-node-_3a7f7a06-8874-38e4-5ab3-e40486c3f837-e424d2a9"
                    role="listitem"
                    class="w-dyn-item"
                  >
                    <div
                      blocks-name="team10_item"
                      blocks-slot-children="ST232"
                      class="academics-thecbs-edge_leadership_item"
                    >
                      <div class="margin-bottom margin-small">
                        <div
                          blocks-name="team10_image-wrapper"
                          class="academics-thecbs-edge_leadership_image-wrapper"
                        >
                          <img
                            src="/assets/images/icons/cigarettes.png"
                            loading="lazy"
                            alt="icon-school-of-excellence-no-tobacco"
                            width="50%"
                          />
                        </div>

                        <div class="margin-bottom margin-xsmall">
                          <div class="leadership-title-holder">
                            <div
                              blocks-name="block-2"
                              class="text-size-large text-weight-semibold"
                            >
                              Cigarettes or tobacco
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    id="w-node-_3a7f7a06-8874-38e4-5ab3-e40486c3f837-e424d2a9"
                    role="listitem"
                    class="w-dyn-item"
                  >
                    <div
                      blocks-name="team10_item"
                      blocks-slot-children="ST232"
                      class="academics-thecbs-edge_leadership_item"
                    >
                      <div class="margin-bottom margin-small">
                        <div
                          blocks-name="team10_image-wrapper"
                          class="academics-thecbs-edge_leadership_image-wrapper"
                        >
                          <img
                            src="/assets/images/icons/knife.png"
                            loading="lazy"
                            alt="icon-school-of-excellence-no-knives"
                            width="50%"
                          />
                        </div>

                        <div class="margin-bottom margin-xsmall">
                          <div class="leadership-title-holder">
                            <div
                              blocks-name="block-2"
                              class="text-size-large text-weight-semibold"
                            >
                              Knives or other weapons
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    id="w-node-_3a7f7a06-8874-38e4-5ab3-e40486c3f837-e424d2a9"
                    role="listitem"
                    class="w-dyn-item"
                  >
                    <div
                      blocks-name="team10_item"
                      blocks-slot-children="ST232"
                      class="academics-thecbs-edge_leadership_item"
                    >
                      <div class="margin-bottom margin-small">
                        <div
                          blocks-name="team10_image-wrapper"
                          class="academics-thecbs-edge_leadership_image-wrapper"
                        >
                          <img
                            src="/assets/images/icons/lighters.png"
                            loading="lazy"
                            alt="icon-school-of-excellence-offensive-material"
                            width="50%"
                          />
                        </div>

                        <div class="margin-bottom margin-xsmall">
                          <div class="leadership-title-holder">
                            <div
                              blocks-name="block-2"
                              class="text-size-large text-weight-semibold"
                            >
                              Matches/lighters/explosive or dangerous material
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="w-node-_3a7f7a06-8874-38e4-5ab3-e40486c3f837-e424d2a9"
                    role="listitem"
                    class="w-dyn-item"
                  >
                    <div
                      blocks-name="team10_item"
                      blocks-slot-children="ST232"
                      class="academics-thecbs-edge_leadership_item"
                    >
                      <div class="margin-bottom margin-small">
                        <div
                          blocks-name="team10_image-wrapper"
                          class="academics-thecbs-edge_leadership_image-wrapper"
                        >
                          <img
                            src="/assets/images/icons/18plus.png"
                            loading="lazy"
                            alt="icon-school-of-excellence-offensive-material"
                            width="50%"
                          />
                        </div>

                        <div class="margin-bottom margin-xsmall">
                          <div class="leadership-title-holder">
                            <div
                              blocks-name="block-2"
                              class="text-size-large text-weight-semibold"
                            >
                              Pornographic or any other offensive material
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    id="w-node-_3a7f7a06-8874-38e4-5ab3-e40486c3f837-e424d2a9"
                    role="listitem"
                    class="w-dyn-item"
                  >
                    <div
                      blocks-name="team10_item"
                      blocks-slot-children="ST232"
                      class="academics-thecbs-edge_leadership_item"
                    >
                      <div class="margin-bottom margin-small">
                        <div
                          blocks-name="team10_image-wrapper"
                          class="academics-thecbs-edge_leadership_image-wrapper"
                        >
                          <img
                            src="/assets/images/icons/camera.png"
                            loading="lazy"
                            alt="icon-school-of-excellence-no-cameras"
                            width="50%"
                          />
                        </div>

                        <div class="margin-bottom margin-xsmall">
                          <div class="leadership-title-holder">
                            <div
                              blocks-name="block-2"
                              class="text-size-large text-weight-semibold"
                            >
                              &nbsp;&nbsp; &nbsp;&nbsp; Cameras
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    id="w-node-_3a7f7a06-8874-38e4-5ab3-e40486c3f837-e424d2a9"
                    role="listitem"
                    class="w-dyn-item"
                  >
                    <div
                      blocks-name="team10_item"
                      blocks-slot-children="ST232"
                      class="academics-thecbs-edge_leadership_item"
                    >
                      <div class="margin-bottom margin-small">
                        <div
                          blocks-name="team10_image-wrapper"
                          class="academics-thecbs-edge_leadership_image-wrapper"
                        >
                          <img
                            src="/assets/images/icons/skateboard.png"
                            loading="lazy"
                            alt="icon-school-of-excellence-skateboards"
                            width="50%"
                          />
                        </div>

                        <div class="margin-bottom margin-xsmall">
                          <div class="leadership-title-holder">
                            <div
                              blocks-name="block-2"
                              class="text-size-large text-weight-semibold"
                            >
                              Skateboards or scooters or similar
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    id="w-node-_3a7f7a06-8874-38e4-5ab3-e40486c3f837-e424d2a9"
                    role="listitem"
                    class="w-dyn-item"
                  >
                    <div
                      blocks-name="team10_item"
                      blocks-slot-children="ST232"
                      class="academics-thecbs-edge_leadership_item"
                    >
                      <div class="margin-bottom margin-small">
                        <div
                          blocks-name="team10_image-wrapper"
                          class="academics-thecbs-edge_leadership_image-wrapper"
                        >
                          <img
                            src="/assets/images/icons/bycycle.png"
                            loading="lazy"
                            alt="icon-school-of-excellence-expensive-bicycles"
                            width="50%"
                          />
                        </div>

                        <div class="margin-bottom margin-xsmall">
                          <div class="leadership-title-holder">
                            <div
                              blocks-name="block-2"
                              class="text-size-large text-weight-semibold"
                            >
                              Expensive bicycles or bicycle accessories or other
                              costly equipment
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
  </body>

  <Footer />
</Layout>
