---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<Layout
  title="Icon School Of Excellence"
  description=""
  keywords=""
  og_title=""
  og_description=""
  og_image=""
  og_url=""
  canonical=""
>
  <body>
    <div class="page-wrapper">
      <Header />
      <main class="main-wrapper">
        <section class="section_layout350">
          <div class="padding-global-2 background-image">
            <div class="container-large-2">
              <div class="padding-section">
                <div class="w-layout-grid layout350_component">
                  <div
                    id="sticky-tab-container"
                    class="layout350_tabs-menu-2 w-node-_2d790f51-e46b-61e1-7349-fe38e1fd65dd-e424d2c7"
                  >
                    <a
                      href="#school-timings"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>School Timings</div>
                    </a>
                    <a
                      href="#school-uniform"
                      class="layout350_tab-link w-inline-block"
                    >
                      <div>School Uniform</div>
                    </a>
                  </div>
                  <div
                    id="w-node-_2d790f51-e46b-61e1-7349-fe38e1fd65dc-e424d2c7"
                    class="layout350_content-wrapper"
                  >
                    <div
                      id="school-timings"
                      data-w-id="1795152a-bc8c-5f74-abad-158ef2eec54f"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2><strong>School Timings</strong></h2>
                      </div>
                      <div class="section_layout402">
                        <div class="container-large-2">
                          <div
                            data-current="Tab 2"
                            data-easing="ease"
                            data-duration-in="300"
                            data-duration-out="100"
                            class="layout402_component w-tabs"
                          >
                            <div
                              class="layout402_tabs-menu no-scrollbar w-tab-menu"
                            >
                              <a
                                data-w-tab="Tab 1"
                                class="layout350_tab-link w-inline-block w-tab-link w--current"
                              >
                                <div>Nursery and Junior KG</div>
                              </a>
                              <a
                                data-w-tab="Tab 2"
                                class="layout350_tab-link w-inline-block w-tab-link"
                              >
                                <div>Senior KG, Grade I and II</div>
                              </a>
                              <a
                                data-w-tab="Tab 3"
                                class="layout350_tab-link w-inline-block w-tab-link"
                              >
                                <div>
                                  Lower Primary, Upper Primary <br /> High School
                                </div>
                              </a>
                              <a
                                data-w-tab="Tab 4"
                                class="layout350_tab-link w-inline-block w-tab-link"
                              >
                                <div>Break Time</div>
                              </a>
                            </div>
                            <div class="layout402_tabs-content w-tab-content">
                              <div
                                data-w-tab="Tab 1"
                                class="layout402_tab-pane w-tab-pane"
                              >
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="margin-bottom margin-small">
                                      <h2>Nursery and Junior KG<br /></h2>
                                    </div>
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        For our youngest learners in Nursery and
                                        Junior KG, the school day runs from <b
                                          >8:30 AM to 12:30 PM</b
                                        >. This shorter schedule accommodates
                                        the energy levels and attention spans of
                                        preschool-aged children. The timings are
                                        carefully structured to provide a
                                        nurturing environment for early
                                        learning, fostering social and academic
                                        growth without overwhelming the
                                        students. This duration ensures children
                                        are introduced to school life gradually
                                        while maintaining a sense of comfort and
                                        routine.
                                      </p>
                                      <div class="layout402_image-wrapper">
                                        <img
                                          sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                          alt="icon-school-of-excellence-nursery-junior-KG"
                                          src="/assets/images/academics/curicullum.webp"
                                          loading="lazy"
                                          class="layout350_mobile-image"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                data-w-tab="Tab 2"
                                class="layout402_tab-pane w-tab-pane w--tab-active"
                              >
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="margin-bottom margin-small">
                                      <h2>Senior KG, Grade I and II<br /></h2>
                                    </div>
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        Students in Senior KG, Grade I, and
                                        Grade II attend school from <b
                                          >8:30 AM to 2:30 PM</b
                                        >, allowing for a balanced mix of
                                        academic and extracurricular activities.
                                        The schedule is designed to give young
                                        learners sufficient time for engaging in
                                        learning while ensuring a comfortable
                                        daily routine. This timing aligns with
                                        the developmental needs of early
                                        childhood education. Parents can rest
                                        assured that their children have a
                                        well-structured day, optimizing their
                                        school experience.<br />
                                      </p><img
                                        id="w-node-_3e424e44-74ec-965a-6656-a708e109e47d-e424d2c7"
                                        sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                        alt="icon-school-of-excellence-Senior KG, Grade I and II"
                                        src="/assets/images/academics/seniorkg.webp"
                                        loading="lazy"
                                        class="layout350_mobile-image"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div data-w-tab="Tab 3" class="w-tab-pane">
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="margin-bottom margin-small">
                                      <h2>
                                        Lower Primary, Upper Primary, High
                                        School
                                      </h2>
                                    </div>
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        Students in Lower Primary, Upper
                                        Primary, and High School follow a
                                        full-day schedule from <b
                                          >8:30 AM to 3:30 PM</b
                                        >, allowing for a comprehensive academic
                                        and co-curricular program. This extended
                                        schedule ensures that students of all
                                        age groups have ample time to engage
                                        deeply in core subjects while also
                                        participating in creative and
                                        developmental activities. The structured
                                        day provides an ideal balance,
                                        supporting the diverse educational needs
                                        of primary students while fostering the
                                        academic rigor required in high school.
                                        By the end of the day, students are
                                        equipped with the knowledge, skills, and
                                        confidence to tackle future academic
                                        challenges and prepare for higher
                                        education or career paths.<br />‍<br />
                                      </p><img
                                        id="w-node-_501722b7-09f9-c188-7120-4721f2dab2bb-e424d2c7"
                                        sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                        alt="icon-school-of-excellence- Lower Primary, Upper Primary, High School"
                                        src="/assets/images/academics/high-school.webp"
                                        loading="lazy"
                                        class="layout350_mobile-image"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div data-w-tab="Tab 4" class="w-tab-pane">
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="margin-bottom margin-small">
                                      <h2>
                                        Break<br />
                                      </h2>
                                    </div>
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        <b>Short Break :</b>
                                        From <b>10:00 AM to 10:20 AM</b>,
                                        students take a short break to recharge,
                                        socialize, and engage in light
                                        activities, helping improve focus and
                                        productivity for the rest of the day. <br
                                        />
                                        <br />

                                        <b>Lunch Break :</b>
                                        The lunch break from <b
                                          >12:00 PM to 12:45 PM</b
                                        >
                                        gives students time to relax and refuel with
                                        healthy meals, preparing them for continued
                                        learning in the afternoon.
                                      </p>

                                      <img
                                        id="w-node-_501722b7-09f9-c188-7120-4721f2dab2bb-e424d2c7"
                                        sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                        alt="icon-school-of-excellence-break-time"
                                        src="/assets/images/academics/break-time.webp"
                                        loading="lazy"
                                        class="layout350_mobile-image"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      id="school-uniform"
                      data-w-id="1795152a-bc8c-5f74-abad-158ef2eec54f"
                      class="layout350_content"
                    >
                      <div class="margin-bottom margin-small">
                        <h2><strong>School Uniform</strong></h2>
                      </div>
                      <div class="section_layout402">
                        <div class="container-large-2">
                          <div
                            data-current="Tab 2"
                            data-easing="ease"
                            data-duration-in="300"
                            data-duration-out="100"
                            class="layout402_component w-tabs"
                          >
                            <div
                              class="layout402_tabs-menu no-scrollbar w-tab-menu"
                            >
                              <a
                                data-w-tab="Tab 1"
                                class="layout350_tab-link w-inline-block w-tab-link w--current"
                              >
                                <div>Uniform Pattern</div>
                              </a><a
                                data-w-tab="Tab 2"
                                class="layout350_tab-link w-inline-block w-tab-link"
                              >
                                <div>Uniform Guidelines</div>
                              </a>
                              <a
                                data-w-tab="Tab 3"
                                class="layout350_tab-link w-inline-block w-tab-link"
                              >
                                <div>Expectations for Uniforms</div>
                              </a>
                            </div>
                            <div class="layout402_tabs-content w-tab-content">
                              <div
                                data-w-tab="Tab 1"
                                class="layout402_tab-pane w-tab-pane"
                              >
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="margin-bottom margin-small">
                                      <h2>Uniform Pattern<br /></h2>
                                    </div>
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        Our uniform policy is an integral part
                                        of our school identity, promoting a
                                        sense of belonging and discipline among
                                        students.
                                      </p>
                                      <div class="layout402_image-wrapper">
                                        <img
                                          sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                          alt="icon-school-of-excellence-uniform-pattern"
                                          src="/assets/images/academics/uniform.webp"
                                          loading="lazy"
                                          class="layout350_mobile-image"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                data-w-tab="Tab 2"
                                class="layout402_tab-pane w-tab-pane w--tab-active"
                              >
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="margin-bottom margin-small">
                                      <h2>Uniform Guidelines<br /></h2>
                                    </div>
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        <b>Common Uniform:</b> On Monday, Wednesday,
                                        Thursday, and Saturday, students are required
                                        to wear the Common Uniform, which represents
                                        our school’s values and creates a unified
                                        appearance. This uniform is designed to be
                                        comfortable yet presentable, allowing students
                                        to focus on their studies without distractions.
                                        <br />
                                        <br />

                                        <b>Sports/House Uniform:</b> On Tuesday and
                                        Friday, students wear their Sports/House
                                        Uniforms. This not only promotes physical
                                        fitness through sports activities but also
                                        fosters a sense of teamwork and camaraderie
                                        among students. House events and competitions
                                        are vital for building school spirit and
                                        encouraging participation.
                                        <br />
                                      </p><img
                                        id="w-node-_3e424e44-74ec-965a-6656-a708e109e47d-e424d2c7"
                                        sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                        alt="icon-school-of-excellence-uniform-guidelines"
                                        src="/assets/images/academics/uniform-guidence.webp"
                                        loading="lazy"
                                        class="layout350_mobile-image"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div data-w-tab="Tab 3" class="w-tab-pane">
                                <div class="layout402_tab-wrapper">
                                  <div class="layout402_content">
                                    <div class="margin-bottom margin-small">
                                      <h2>
                                        Expectations for Uniforms<br />
                                      </h2>
                                    </div>
                                    <div class="text-item-holder">
                                      <p class="text-size-medium-2">
                                        We expect parents and guardians to
                                        ensure that students' uniforms are
                                        clean, neatly pressed, and in good
                                        condition. A well-maintained uniform
                                        contributes to the student’s self-esteem
                                        and pride in their school. Additionally,
                                        students are encouraged to wear
                                        appropriate shoes that are suitable for
                                        both classroom activities and outdoor
                                        play. <br />
                                        <br />
                                        By adhering to these structured timings and
                                        uniform policies, we create an environment
                                        that enhances learning, fosters discipline,
                                        and promotes a strong sense of community
                                        at Icon School of Excellence. Your cooperation
                                        in supporting these initiatives is invaluable
                                        in helping us maintain our school’s values
                                        and providing the best possible educational
                                        experience for our students. Together, we
                                        can cultivate a positive and focused atmosphere
                                        that allows every student to thrive.
                                        <br />‍<br />
                                      </p>
                                      <img
                                        id="w-node-_501722b7-09f9-c188-7120-4721f2dab2bb-e424d2c7"
                                        sizes="(max-width: 767px) 95vw, (max-width: 991px) 57vw, 33vw"
                                        alt="icon-school-of-excellence-expectations for Uniforms"
                                        src="/assets/images/academics/expectations-for-uniforms.webp"
                                        loading="lazy"
                                        class="layout350_mobile-image"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <Footer />
    </div>
  </body>
</Layout>
