---

---

<footer class="footer3_component">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-vertical padding-xxlarge">
        <div class="padding-bottom padding-xxlarge">
          <div class="w-layout-grid footer3_top-wrapper">
            <div
              blocks-name="footer3_left-wrapper"
              blocks-slot-children="ST265"
              class="footer3_left-wrapper"
            >
              <div class="margin-bottom margin-medium">
                <a
                  href="#"
                  blocks-name="footer3_logo-link"
                  class="footer3_logo-link w-nav-brand"
                >
                  <img
                    src="/assets/images/School Logo.svg"
                    loading="lazy"
                    width="168"
                    alt=""
                  />
                </a>
              </div>
              <div class="margin-bottom margin-medium">
                <div
                  blocks-name="footer3_details-wrapper"
                  blocks-slot-children="ST232"
                  class="footer3_details-wrapper"
                >
                  <div class="margin-bottom margin-tiny">
                    <div
                      blocks-name="block"
                      class="text-size-small text-weight-semibold"
                    >
                      Address:
                    </div>
                  </div>
                  <div class="margin-bottom margin-small">
                    <div blocks-name="block-2" class="text-size-small">
                      Icon School Of Excellence, 118/2, Bettadasanapura Rd,
                      Doddathoguru, Electronics City Phase 1, Electronic City,
                      Doddathoguru, Karnataka 560100<br />‍
                    </div>
                    <div blocks-name="block-2" class="text-size-small">
                      Candidate school for the International Baccalaureate (IB)
                      Middle Years <br />Programe. <br />Affiliated to the
                      Council for the Indian School Certificate Examinations
                      (ICSE).<br />School Code – KA398. &nbsp;State Registration
                      No. – 246/16/17.<br />‍
                    </div>
                  </div>
                  <div class="margin-bottom margin-tiny">
                    <div
                      blocks-name="block-3"
                      class="text-size-small text-weight-semibold"
                    >
                      Contact:
                    </div>
                  </div>
                  <div blocks-name="block-4" class="text-size-small">
                    <a href="#">management@iconschoolofexcellence.com</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-layout-grid footer3_menu-wrapper">
              <div
                blocks-name="footer3_link-list"
                blocks-slot-children="ST232"
                class="footer3_link-list"
              >
                <a
                  blocks-name="footer3_link"
                  href="/"
                  aria-current="page"
                  class="footer3_link w--current">Home</a
                ><a
                  blocks-name="footer3_link-2"
                  href="/about"
                  class="footer3_link">About</a
                >

                <a
                  blocks-name="footer3_link-4"
                  href="/admissions"
                  class="footer3_link">Admissions</a
                >

                <a
                  blocks-name="footer3_link-4"
                  href="/facilities"
                  class="footer3_link">Facilities</a
                >

                <a
                  blocks-name="footer3_link-4"
                  href="/events"
                  class="footer3_link">Events</a
                >

                <a
                  blocks-name="footer3_link-3"
                  href="/contact"
                  class="footer3_link">Contact</a
                >
              </div>
              <div
                blocks-name="footer3_link-list-2"
                blocks-slot-children="ST232"
                class="footer3_link-list"
              >
                <a
                  blocks-name="footer3_link-8"
                  href="/curriculum"
                  class="footer3_link">Curriculum</a
                ><a
                  blocks-name="footer3_link-9"
                  href="/classes"
                  class="footer3_link">Classes</a
                ><a
                  blocks-name="footer3_link-9"
                  href="/learning-concepts"
                  class="footer3_link">Learning Concepts</a
                ><a
                  blocks-name="footer3_link-9"
                  href="/extra-curricular"
                  class="footer3_link">Extra Curricular Activities</a
                >
                <a
                  blocks-name="footer3_link-9"
                  href="/school_timing-uniform"
                  class="footer3_link">School Timings & Uniform</a
                >
                <a
                  blocks-name="footer3_link-9"
                  href="/academic-programme"
                  class="footer3_link">Academic programme</a
                >
                <a
                  blocks-name="footer3_link-9"
                  href="/academics"
                  class="footer3_link"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="line-divider"></div>
        <div class="padding-top padding-medium">
          <div class="footer3_bottom-wrapper">
            <div class="footer3_credit-text">
              © 2024 ISOE. All rights reserved.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
