---

---

<div
  data-collapse="medium"
  data-animation="default"
  data-duration="400"
  fs-scrolldisable-element="smart-nav"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="navbar1_component w-nav"
>
  <div class="navbar1_container">
    <a
      href="/"
      aria-current="page"
      class="navbar1_logo-link w-nav-brand w--current"
    >
      <img
        width="50%"
        sizes="123.99304962158203px"
        alt="ISOE logo"
        src="/assets/images/icon.png"
        loading="lazy"
        class="navbar1_logo"
      />
    </a>
    <nav
      role="navigation"
      blocks-name="navbar1_menu"
      blocks-slot-children="ST232"
      class="navbar1_menu is-page-height-tablet w-nav-menu"
    >
      <a
        href="/about"
        blocks-name="navbar1_link-2"
        class="navbar1_link w-nav-link">About&nbsp;Us</a
      >

      <div
        data-hover="true"
        data-delay="900"
        data-w-id="e960a7b9-3927-18fa-167e-f561c1ea9b4f"
        class="navbar7_menu-dropdown w-dropdown"
      >
        <div class="navbar7_dropdown-toggle w-dropdown-toggle">
          <a href="#" class="link-block-3 w-inline-block">
            <div class="text-block-7">Academics</div>
          </a>
          <div class="dropdown-chevron-3 w-embed">
            <svg
              width=" 100%"
              height=" 100%"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z"
                fill="currentColor"></path>
            </svg>
          </div>
        </div>

        <nav class="navbar7_dropdown-list w-dropdown-list">
          <div class="navbar7_container">
            <div class="navbar7_dropdown-content">
              <div class="navbar7_dropdown-content-left">
                <div class="navbar7_dropdown-link-list">
                  <h4 class="text-size-small text-weight-semibold">
                    Academics
                  </h4>

                  <a
                    id="w-node-e960a7b9-3927-18fa-167e-f561c1ea9b61-c1ea9b12"
                    href="/curriculum"
                    class="navbar7_dropdown-link w-inline-block"
                  >
                    <div class="navbar7_item-text">
                      <div class="text-weight-semibold">Curriculum</div>
                    </div>
                  </a>

                  <a
                    href="/classes"
                    class="navbar7_dropdown-link w-inline-block"
                  >
                    <div class="navbar7_item-text">
                      <div class="text-weight-semibold">Classes</div>
                    </div>
                  </a>

                  <a
                    id="w-node-e960a7b9-3927-18fa-167e-f561c1ea9b88-c1ea9b12"
                    href="/learning-concepts"
                    class="navbar7_dropdown-link w-inline-block"
                  >
                    <div class="navbar7_item-text">
                      <div class="text-weight-semibold">Learning Concepts</div>
                    </div>
                  </a>
                </div>

                <div class="navbar7_dropdown-link-list">
                  <h4 class="text-size-small text-weight-semibold">
                    Student Life
                  </h4>
                  <a
                    href="/extra-curricular"
                    class="navbar7_dropdown-link w-inline-block"
                  >
                    <div class="navbar7_item-text">
                      <div class="text-weight-semibold">
                        Extra Curricular Activities
                      </div>
                    </div>
                  </a>
                  <a
                    href="/school_timing-uniform"
                    class="navbar7_dropdown-link w-inline-block"
                  >
                    <div class="navbar7_item-text">
                      <div class="text-weight-semibold">
                        School Timings & Uniform
                      </div>
                    </div>
                  </a>
                </div>

                <div class="navbar7_dropdown-link-list">
                  <h4 class="text-size-small text-weight-semibold">
                    Program Overview
                  </h4>
                  <a
                    href="/academic-programme"
                    class="navbar7_dropdown-link w-inline-block"
                  >
                    <div class="navbar7_item-text">
                      <div class="text-weight-semibold">Academic programme</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <a
        href="/admissions"
        blocks-name="navbar1_link-2"
        class="navbar1_link w-nav-link">Admissions</a
      >
      <a
        href="/facilities"
        blocks-name="navbar1_link"
        class="navbar1_link w-nav-link">Facilities</a
      >
      <a
        href="/events"
        blocks-name="navbar1_link-2"
        class="navbar1_link w-nav-link">Events</a
      >
      <a
        href="/regulations"
        blocks-name="navbar1_link-2"
        class="navbar1_link w-nav-link">Regulations</a
      >
      <a
        href="/contact"
        blocks-name="navbar1_link-3"
        class="navbar1_link w-nav-link">Contact&nbsp;Us</a
      >
    </nav>

    <div class="navbar1_menu-button w-nav-button">
      <div class="menu-icon1">
        <div class="menu-icon1_line-top"></div>
        <div class="menu-icon1_line-middle">
          <div class="menu-icon_line-middle-inner"></div>
        </div>
        <div class="menu-icon1_line-bottom"></div>
      </div>
    </div>
  </div>
</div>

<a
  href="https://api.whatsapp.com/send?phone=918431006918"
  target="_blank"
  blocks-name="button-2"
  class="button sticky1 whatsapp w-button"></a>
<script>
  document.querySelectorAll('.navbar1_link').forEach((link) => {
    if (link.href === window.location.href) {
      link.classList.add('active');
    }
  });
</script>
<style>
  .navbar1_link.active {
    color: #b5a6ab;
    font-weight: bold;
  }
</style>
